Repository ComposableFi/composable, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ComposableFi/core, @ComposableFi/developers, @ComposableFi/sre, @ComposableFi/parachain-leads, @ComposableFi/parachain, @ComposableFi/testers, @ComposableFi/parachain-finance, @ComposableFi/blockchain-integrations, @ComposableFi/parachain-rpc, @ComposableFi/technical-writing-reviewers, @ComposableFi/codespacers, @dzmitry-lahoda, @hussein-aitlahcen, @cor, @ComposableFi/technical-writers, @ComposableFi/security

test(CH): assert alice's total funds are greater than bob's
  frame/clearing-house/src/integrations/tests.rs
Owners: @ComposableFi/parachain

test(integration-tests/oracle): Update for new oracle parameter. Types updated.
  integration-tests/runtime-tests/src/types/interfaces/augment-api-consts.ts
  integration-tests/runtime-tests/src/types/interfaces/augment-api-errors.ts
  integration-tests/runtime-tests/src/types/interfaces/augment-api-events.ts
  integration-tests/runtime-tests/src/types/interfaces/augment-api-query.ts
  integration-tests/runtime-tests/src/types/interfaces/augment-api-tx.ts
  integration-tests/runtime-tests/src/types/interfaces/augment-types.ts
  integration-tests/runtime-tests/src/types/interfaces/crowdloanRewards/definitions.ts
  integration-tests/runtime-tests/src/types/interfaces/crowdloanRewards/types.ts
  integration-tests/runtime-tests/test/tests/oracle/HAL01-Tests.ts
  integration-tests/runtime-tests/test/tests/oracle/HAL02-Tests.ts
  integration-tests/runtime-tests/test/tests/oracle/testHandlers/addAssetAndInfoTests.ts
  integration-tests/runtime-tests/test/tests/oracle/txOracleTests.ts
Owners: @ComposableFi/testers

update docs
  frame/oracle/src/lib.rs
Owners: @ComposableFi/parachain-finance

Fix remarks
  .github/workflows/build-test-deploy.yml
Owners: @ComposableFi/sre

Clean up
  frontend/apps/pablo/components/Organisms/bonds/BondOfferRow.tsx
  frontend/apps/pablo/components/Organisms/bonds/BondPrincipalAssetIcon.tsx
  frontend/apps/pablo/components/Organisms/bonds/BondedOfferRow.tsx
  frontend/apps/pablo/components/Organisms/bonds/DepositForm.tsx
  frontend/apps/pablo/components/Organisms/overview/OverviewBondedOfferRow.tsx
  frontend/apps/pablo/components/Organisms/overview/YourBondsBox.tsx
  frontend/apps/pablo/components/Organisms/pool/PoolDetails/PoolRewardsPanel.tsx
  frontend/apps/pablo/defi/types/index.ts
  frontend/apps/pablo/stores/defi/bonds.ts
  frontend/apps/pablo/stores/defi/polkadot.ts
  frontend/apps/pablo/stores/defi/pool.ts
  frontend/apps/pablo/stores/dummy/pool.ts
  frontend/apps/pablo/updaters/bonds/Updater.tsx
  frontend/apps/pablo/updaters/pools/Updater.tsx
Owners: @ComposableFi/blockchain-integrations, @ComposableFi/parachain-finance

some comments
  frontend/apps/pablo/updaters/bonds/Updater.tsx
Owners: @ComposableFi/blockchain-integrations, @ComposableFi/parachain-finance

updates
  frontend/apps/pablo/components/Organisms/bonds/BondedOfferRow.tsx
  frontend/apps/pablo/components/Organisms/bonds/ClaimForm.tsx
  frontend/apps/pablo/components/Organisms/overview/OverviewBondedOfferRow.tsx
  frontend/apps/pablo/defi/hooks/vesting/useVestingClaim.ts
  frontend/apps/pablo/defi/utils/bonds/vestingSchedule.ts
  frontend/apps/pablo/defi/utils/bonds/vestingTime.ts
  frontend/apps/pablo/store/bond/bond.slice.ts
  frontend/apps/pablo/updaters/bonds/Updater.tsx
Owners: @ComposableFi/blockchain-integrations, @ComposableFi/parachain-finance, @ComposableFi/developers, @ComposableFi/sre, @ComposableFi/testers

catchup
  Cargo.lock
  frame/pool/Cargo.toml
  frame/pool/src/lib.rs
Owners: @ComposableFi/core, @ComposableFi/parachain

feat(cosmwasm): scafold `cosmwasm` pallet skeleton
  Cargo.lock
  frame/cosmwasm/Cargo.toml
  frame/cosmwasm/README.md
  frame/cosmwasm/src/instrument.rs
  frame/cosmwasm/src/lib.rs
  frame/cosmwasm/src/runtimes/mod.rs
  frame/cosmwasm/src/runtimes/wasmi.rs
  frame/cosmwasm/src/types.rs
Owners: @ComposableFi/core, @ComposableFi/parachain, @ComposableFi/technical-writing-reviewers

feat(cosmwasm): continue scafolding
  Cargo.lock
  frame/cosmwasm/Cargo.toml
  frame/cosmwasm/src/instrument.rs
  frame/cosmwasm/src/lib.rs
  frame/cosmwasm/src/runtimes/wasmi.rs
  frame/cosmwasm/src/types.rs
  runtime/dali/Cargo.toml
  runtime/dali/src/lib.rs
Owners: @ComposableFi/core, @ComposableFi/parachain, @ComposableFi/parachain-leads

feat(cosmwasm): initial impl of `upload`, `instantiate` and `execute`
  Cargo.lock
  frame/cosmwasm/Cargo.toml
  frame/cosmwasm/src/instrument.rs
  frame/cosmwasm/src/lib.rs
  frame/cosmwasm/src/runtimes/abstraction.rs
  frame/cosmwasm/src/runtimes/mod.rs
  frame/cosmwasm/src/runtimes/wasmi.rs
  frame/cosmwasm/src/types.rs
Owners: @ComposableFi/core, @ComposableFi/parachain

feat(cosmwasm): update runtime config for cosmwasm pallet
  frame/cosmwasm/src/lib.rs
  frame/cosmwasm/src/runtimes/wasmi.rs
  runtime/dali/src/lib.rs
Owners: @ComposableFi/parachain, @ComposableFi/parachain-leads

feat(cosmwasm): proper gas metering, stack depth tracking, query readonly
  Cargo.lock
  frame/cosmwasm/Cargo.toml
  frame/cosmwasm/src/instrument.rs
  frame/cosmwasm/src/lib.rs
  frame/cosmwasm/src/runtimes/abstraction.rs
  frame/cosmwasm/src/runtimes/wasmi.rs
  frame/cosmwasm/src/weights.rs
  runtime/dali/src/lib.rs
Owners: @ComposableFi/core, @ComposableFi/parachain, @ComposableFi/parachain-leads

feat(cosmwasm): introduce code upload storage deposit, reserve/released on upload/destroy
  frame/cosmwasm/src/lib.rs
  runtime/dali/src/lib.rs
Owners: @ComposableFi/parachain, @ComposableFi/parachain-leads

chore(style): apply fmt
  frame/cosmwasm/src/instrument.rs
  frame/cosmwasm/src/lib.rs
  frame/cosmwasm/src/runtimes/wasmi.rs
  frame/cosmwasm/src/types.rs
  runtime/dali/src/lib.rs
Owners: @ComposableFi/parachain, @ComposableFi/parachain-leads

feat(cosmwasm): gas metering, charge/refund before/after execution
  frame/cosmwasm/src/lib.rs
  frame/cosmwasm/src/runtimes/abstraction.rs
  frame/cosmwasm/src/runtimes/wasmi.rs
Owners: @ComposableFi/parachain

feat(cosmwasm): enable nightly on CI
  .github/workflows/check.yml
Owners: @ComposableFi/sre

feat(cosmwasm): fine-tune weights depending on extrinsics input
  frame/cosmwasm/src/lib.rs
  frame/cosmwasm/src/weights.rs
Owners: @ComposableFi/parachain

feat(cosmwasm): fixup try_from for account and apply style
  runtime/dali/src/lib.rs
Owners: @ComposableFi/parachain-leads

feat(cosmwasm): suggestions, simplification and documentation
  Cargo.lock
  frame/cosmwasm/Cargo.toml
  frame/cosmwasm/src/instrument.rs
  frame/cosmwasm/src/lib.rs
  frame/cosmwasm/src/runtimes/abstraction.rs
  frame/cosmwasm/src/runtimes/wasmi.rs
  runtime/dali/src/lib.rs
Owners: @ComposableFi/core, @ComposableFi/parachain, @ComposableFi/parachain-leads

chore(style): apply taplo
  frame/cosmwasm/Cargo.toml
  runtime/dali/Cargo.toml
Owners: @ComposableFi/parachain, @ComposableFi/parachain-leads

Cosmetic changes (#14)
  .DS_Store
  Cargo.lock
  src/chain/parachain.rs
  src/chain/parachain/chain.rs
  src/chain/parachain/provider.rs
  src/lib.rs
  src/logging.rs
  tests/parachain_token_transfer.rs
  tests/relay.rs
Owners: @ComposableFi/core

feat(cosmwasm): nightly
  Cargo.lock
  Makefile
  flake.nix
Owners: @ComposableFi/core, @ComposableFi/sre, @dzmitry-lahoda, @hussein-aitlahcen, @cor

test(CH): assert Alice can withdraw her profits
  frame/clearing-house/src/integrations/tests.rs
Owners: @ComposableFi/parachain

fix(CH): impl global counter for available profits
  frame/clearing-house/src/integrations/tests.rs
  frame/clearing-house/src/lib.rs
  frame/clearing-house/src/tests/close_position.rs
  frame/clearing-house/src/tests/mod.rs
  frame/clearing-house/src/tests/open_position.rs
  frame/clearing-house/src/tests/withdraw_collateral.rs
  frame/clearing-house/src/types.rs
Owners: @ComposableFi/parachain

frame(assets): edit readme
  frame/assets/README.md
Owners: @ComposableFi/technical-writing-reviewers, @ComposableFi/core

wip
  runtime/dali/src/lib.rs
Owners: @ComposableFi/parachain-leads

commented out to successful pool build
  frame/pool/src/lib.rs
Owners: @ComposableFi/parachain

literally everything else compiles except for dali
  frame/ibc/primitives/src/runtime_interface.rs
  frame/ibc/src/lib.rs
  frame/ibc/transfer/src/lib.rs
  frame/staking-rewards/src/lib.rs
  node/src/service.rs
  runtime/common/Cargo.toml
  runtime/common/src/impls.rs
  runtime/composable/src/lib.rs
  runtime/dali/src/lib.rs
  runtime/picasso/src/lib.rs
Owners: @ComposableFi/parachain, @ComposableFi/parachain-finance, @ComposableFi/parachain-leads

no more pallet_balances
  node/src/chain_spec/dali.rs
  runtime/dali/src/lib.rs
Owners: @ComposableFi/parachain-leads

feat: upgrade pallet-cosmwasm to new vm
  Cargo.lock
  frame/cosmwasm/Cargo.toml
  frame/cosmwasm/src/lib.rs
  frame/cosmwasm/src/runtimes/abstraction.rs
  frame/cosmwasm/src/runtimes/wasmi.rs
  runtime/composable/src/lib.rs
  runtime/dali/src/lib.rs
  runtime/picasso/src/lib.rs
Owners: @ComposableFi/core, @ComposableFi/parachain, @ComposableFi/parachain-leads

Overview, Pool and Design QA fixes
  frontend/apps/pablo/components/Atoms/Checkbox.tsx
  frontend/apps/pablo/components/Atoms/index.ts
  frontend/apps/pablo/components/Molecules/AccountIndicator.tsx
  frontend/apps/pablo/components/Molecules/FeaturedBox.tsx
  frontend/apps/pablo/components/Organisms/AllLiquidityTable.tsx
  frontend/apps/pablo/components/Organisms/BoxWrapper.tsx
  frontend/apps/pablo/components/Organisms/Wallet/PolkadotConnect.tsx
  frontend/apps/pablo/components/Organisms/XPablosBox.tsx
  frontend/apps/pablo/components/Organisms/auction/AuctionTable.tsx
  frontend/apps/pablo/components/Organisms/liquidity/AddForm/ConfirmSupplyModal.tsx
  frontend/apps/pablo/components/Organisms/overview/Statistics.tsx
  frontend/apps/pablo/components/Organisms/overview/TVLChart.tsx
  frontend/apps/pablo/components/Organisms/overview/VolumeChart.tsx
  frontend/apps/pablo/components/Organisms/pool/PoolDetails/PoolStakeForm.tsx
  frontend/apps/pablo/components/Organisms/pool/PoolDetails/index.tsx
  frontend/apps/pablo/components/Organisms/staking/Statistics.tsx
  frontend/apps/pablo/components/Organisms/staking/UnstakeForm/CheckableXPabloItemBox.tsx
  frontend/apps/pablo/components/Organisms/staking/index.tsx
  frontend/apps/pablo/pages/auctions/index.tsx
  frontend/apps/pablo/pages/index.tsx
  frontend/apps/pablo/pages/pool/index.tsx
  frontend/apps/pablo/pages/pool/select/[poolId].tsx
  frontend/apps/pablo/store/hooks/useAddLiquidity.ts
  frontend/apps/pablo/styles/theme/baseTheme.ts
  frontend/apps/pablo/styles/theme/overrides/checkbox.ts
  frontend/apps/pablo/styles/theme/overrides/index.ts
  frontend/apps/pablo/styles/theme/overrides/typography.ts
  frontend/apps/pablo/styles/theme/theme.ts
  frontend/apps/pablo/updaters/pools/Updater.tsx
Owners: @ComposableFi/blockchain-integrations, @ComposableFi/parachain-finance

0.0.1 Stake - connected
  frontend/apps/pablo/components/Organisms/staking/index.tsx
  frontend/apps/pablo/pages/staking/index.tsx
Owners: @ComposableFi/blockchain-integrations, @ComposableFi/parachain-finance

0.0.2 Opening position and 0.0.3 Stake - Connected
  frontend/apps/pablo/components/Atoms/Alert.tsx
  frontend/apps/pablo/components/Organisms/staking/StakeForm/SelectLockPeriod.tsx
  frontend/apps/pablo/components/Organisms/staking/index.tsx
  frontend/apps/pablo/styles/theme/overrides/alertTitle.ts
  frontend/apps/pablo/styles/theme/overrides/index.ts
  frontend/apps/pablo/styles/theme/theme.ts
Owners: @ComposableFi/blockchain-integrations, @ComposableFi/parachain-finance

0.0.4 Stake - Connected - Withdrawal Rekt
  frontend/apps/pablo/components/Organisms/staking/UnstakeForm/index.tsx
Owners: @ComposableFi/blockchain-integrations, @ComposableFi/parachain-finance

chore(CH): update comment section
  frame/clearing-house/src/integrations/tests.rs
Owners: @ComposableFi/parachain

0.0.0 Swap - Wallet disconnected
  frontend/apps/pablo/components/Molecules/Chart.tsx
  frontend/apps/pablo/components/Organisms/swap/SwapForm.tsx
  frontend/apps/pablo/defi/utils/constants.ts
  frontend/apps/pablo/store/hooks/useSwapsChart.ts
Owners: @ComposableFi/blockchain-integrations, @ComposableFi/parachain-finance, @ComposableFi/developers, @ComposableFi/sre, @ComposableFi/testers

Update docs/byog.md
  docs/byog.md
Owners: @ComposableFi/developers, @ComposableFi/technical-writers

Update docs/byog.md
  docs/byog.md
Owners: @ComposableFi/developers, @ComposableFi/technical-writers

Update docs/byog.md
  docs/byog.md
Owners: @ComposableFi/developers, @ComposableFi/technical-writers

.github/CODEOWNERS:

# Note, this file is sorted by precedence. Later patterns take precedence over earlier ones

## Default reviewers.

* @ComposableFi/core  # For anything not owned by a specific team, a core member needs to review or delegate

*.nix @ComposableFi/developers # until under specific folder, *.nix stuff is developers' stuff

## CI and deployment related files

.github/ @ComposableFi/sre
.github/CODEOWNERS @ComposableFi/core
docker/ @ComposableFi/sre
Makefile @ComposableFi/sre

## Parachain related files

runtime/ @ComposableFi/parachain-leads

node/ @ComposableFi/parachain-leads
frame/ @ComposableFi/parachain
integration-tests/ @ComposableFi/parachain @ComposableFi/testers

frame/composable-traits/ @ComposableFi/parachain-finance
frame/pablo/ @ComposableFi/parachain-finance
frame/dex-router/ @ComposableFi/parachain-finance
frame/nft/ @ComposableFi/parachain-finance
frame/staking-rewards/ @ComposableFi/parachain-finance
frame/oracle/ @ComposableFi/parachain-finance
subsquid/ @ComposableFi/parachain-finance @ComposableFi/blockchain-integrations
frame/*/rpc/ @ComposableFi/parachain-rpc
frame/*/runtime-api @ComposableFi/parachain-rpc

## Public Gitbook

book/ @ComposableFi/technical-writing-reviewers
README.md @ComposableFi/technical-writing-reviewers @ComposableFi/core @ComposableFi/parachain-leads

## Frontend and Blockchain Integration
frontend/ @ComposableFi/blockchain-integrations @ComposableFi/parachain-finance
.github/workflows/frontend-pablo-eslint.yml @ComposableFi/sre @ComposableFi/blockchain-integrations
.github/workflows/frontend-pablo-tests.yml  @ComposableFi/sre  @ComposableFi/blockchain-integrations
.github/workflows/frontend-picasso-eslint.yml  @ComposableFi/sre  @ComposableFi/blockchain-integrations
.github/workflows/frontend-picasso-tests.yml  @ComposableFi/sre  @ComposableFi/blockchain-integrations

## Runtime Integration Tests

integration-tests/runtime-tests/ @ComposableFi/testers

## Codespaces

.devcontainer/ @ComposableFi/codespacers @ComposableFi/parachain-leads

## Nix

.nix/ @dzmitry-lahoda @hussein-aitlahcen @cor
flake.nix @dzmitry-lahoda @hussein-aitlahcen @cor

# ComposableJS
composablejs/ @ComposableFi/parachain

## Dev stuff

rfcs/ @ComposableFi/developers
docs/ @ComposableFi/developers @ComposableFi/technical-writers
scripts/ @ComposableFi/developers @ComposableFi/sre
utils/ @ComposableFi/developers @ComposableFi/sre @ComposableFi/testers
.config/spellcheck.dic @ComposableFi/developers @ComposableFi/technical-writers
# Oracle Setup Script
scripts/oracle-setup @ComposableFi/parachain

# Repository 
README.md @ComposableFi/technical-writing-reviewers @ComposableFi/core
SECURITY.md @ComposableFi/security
REVIEWERS.md @ComposableFi/core
ARCHITECTURE.md @ComposableFi/core
LICENSE @ComposableFi/technical-writing-reviewers @ComposableFi/core
