Repository ComposableFi/composable, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ComposableFi/core, @ComposableFi/sre, @ComposableFi/parachain-leads, @ComposableFi/parachain, @ComposableFi/parachain-finance, @ComposableFi/parachain-rpc, @ComposableFi/technical-writing-reviewers, @ComposableFi/ui, @ComposableFi/blockchain-integrations, @ComposableFi/testers

.github/CODEOWNERS:

# Note, this file is sorted by precedence. Later patterns take precedence over earlier ones.

# Default reviewers. For anything not owned by a specific team, a core member needs to review or delegate.
* @ComposableFi/core

# CI and deployment related files
.github/ @ComposableFi/sre
.github/CODEOWNERS @ComposableFi/core
docker/ @ComposableFi/sre
Makefile @ComposableFi/sre

# Parachain related files
runtime/ @ComposableFi/parachain-leads
node/ @ComposableFi/parachain-leads
frame/ @ComposableFi/parachain
integration-tests/ @ComposableFi/parachain

frame/composable-traits/ @ComposableFi/parachain-finance
frame/*/rpc/ @ComposableFi/parachain-rpc
frame/*/runtime-api @ComposableFi/parachain-rpc

# Gitbook
book/ @ComposableFi/technical-writing-reviewers

# Frontend and Blockchain Integration 
frontend/ @ComposableFi/ui @ComposableFi/blockchain-integrations

# Runtime Integration Tests
integration-tests/runtime-tests/ @ComposableFi/testers

# Oracle Setup Script
scripts/oracle-setup @ComposableFi/parachain

test(instrumental-strategy-pablo): use `ConstantProduct` instead `StableSwap` for default pool
  frame/instrumental-strategy-pablo/src/mock/helpers.rs
Owners: @ComposableFi/parachain

test(instrumental-strategy-pablo): implement AccountId helper
  Cargo.lock
  frame/instrumental-strategy-pablo/Cargo.toml
  frame/instrumental-strategy-pablo/src/mock/account_id.rs
  frame/instrumental-strategy-pablo/src/mock/helpers.rs
  frame/instrumental-strategy-pablo/src/mock/mod.rs
  frame/instrumental-strategy-pablo/src/mock/runtime.rs
Owners: @ComposableFi/core, @ComposableFi/parachain

test(instrumental-strategy-pablo): add amounts to the pool
  frame/instrumental-strategy-pablo/src/mock/helpers.rs
Owners: @ComposableFi/parachain

refactor(instrumental-strategy-pablo): allow `indexing_slicing` in tests
  frame/instrumental-strategy-pablo/src/lib.rs
Owners: @ComposableFi/parachain

test(instrumental): remove allowing of dead code for proptest's helper function
  frame/instrumental/src/mock/account_id.rs
Owners: @ComposableFi/parachain

test(instrumental-strategy-pablo): use LAYR/CROWD_LOAN pool
  frame/instrumental-strategy-pablo/src/mock/helpers.rs
  frame/instrumental-strategy-pablo/src/tests.rs
Owners: @ComposableFi/parachain

make style
  frame/crowdloan-rewards/src/lib.rs
  frame/ibc/ibc-rpc/Cargo.toml
  frame/ibc/ibc-runtime-api/Cargo.toml
  runtime/common/src/xcmp/mod.rs
Owners: @ComposableFi/parachain, @ComposableFi/parachain-leads

Updates requested by marko.
  frontend/ui-pablo/app/components/Atoms/BigNumberInput.tsx
  frontend/ui-pablo/app/components/Molecules/DropdownCombinedInput.tsx
  frontend/ui-pablo/app/components/Organisms/auction/AuctionDetails/ContractDetails.tsx
  frontend/ui-pablo/app/components/Organisms/auction/BuyForm.tsx
  frontend/ui-picasso/app/components/Molecules/BigNumberInput/BigNumberInput.tsx
Owners: @ComposableFi/ui, @ComposableFi/blockchain-integrations

Switch subsquid to another network
  .maintain/playbooks/templates/docker-compose/dali-subsquid-archiver.docker-compose.yml.j2
  .maintain/playbooks/templates/systemd/dali-subsquid-processor.service.j2
  subsquid/src/processor.ts
Owners: @ComposableFi/core

Fix build.
  frontend/ui-pablo/app/components/Organisms/pool/CreatePool/steps/SetLiquidityStep.tsx
  frontend/ui-pablo/app/components/Organisms/swap/SwapForm.tsx
  frontend/ui-pablo/app/store/hooks/useLiquidityPoolDetails.ts
  frontend/ui-pablo/app/store/hooks/useLiquidityPoolsList.ts
Owners: @ComposableFi/ui, @ComposableFi/blockchain-integrations

feat(xcvm): introduce ratio and refactor pallet
  Cargo.lock
  frame/contracts/src/exec.rs
  frame/contracts/src/lib.rs
  frame/contracts/src/wasm/cosmwasm/mod.rs
  frame/xcvm/src/lib.rs
  lib/xcvm/core/Cargo.toml
  lib/xcvm/core/src/asset.rs
  lib/xcvm/core/src/instruction.rs
  lib/xcvm/core/src/lib.rs
  lib/xcvm/core/src/program.rs
  lib/xcvm/protobuf/src/lib.rs
  lib/xcvm/protobuf/src/xcvm.proto
  lib/xcvm/protobuf/src/xcvm.rs
  lib/xcvm/protocols/src/lib.rs
  scripts/polkadot-launch/package.json
  scripts/polkadot-launch/yarn.lock
Owners: @ComposableFi/core, @ComposableFi/parachain

Fix charts.
  frontend/ui-pablo/app/components/Atoms/AreaChart.tsx
  frontend/ui-pablo/app/components/Molecules/DropdownCombinedBigNumberInput.tsx
  frontend/ui-pablo/app/components/Organisms/auction/AuctionPriceChart.tsx
Owners: @ComposableFi/ui, @ComposableFi/blockchain-integrations

Picasso chart
  frontend/ui-picasso/app/components/Atom/AreaChart.tsx
Owners: @ComposableFi/ui, @ComposableFi/blockchain-integrations

Removed unused patches
  Cargo.lock
  Cargo.toml
Owners: @ComposableFi/core

refactor(vamm): Use `Ord` method directly
  frame/vamm/src/lib.rs
Owners: @ComposableFi/parachain

style(lending): Fix indentation
  frame/lending/src/lib.rs
Owners: @ComposableFi/parachain

fix(instrumental-strategy-pablo): don't mutate a storage, while working with a mutable reference (`Pools`)
  frame/instrumental-strategy-pablo/src/lib.rs
Owners: @ComposableFi/parachain

feat(instrumental-strategy-pablo): adopt tests for added `set_pool_id_for_asset` function
  frame/instrumental-strategy-pablo/src/mock/account_id.rs
  frame/instrumental-strategy-pablo/src/mock/runtime.rs
  frame/instrumental-strategy-pablo/src/tests.rs
Owners: @ComposableFi/parachain

Swaps refactorings.
  frontend/ui-pablo/app/components/Atoms/AreaChart.tsx
  frontend/ui-pablo/app/components/Atoms/BigNumberInput.tsx
  frontend/ui-pablo/app/components/Molecules/AccountIndicator.tsx
  frontend/ui-pablo/app/components/Organisms/TransactionSettings/AccountSettings.tsx
  frontend/ui-pablo/app/components/Organisms/auction/AuctionPriceChart.tsx
  frontend/ui-pablo/app/components/Organisms/swap/SwapForm.tsx
  frontend/ui-pablo/app/components/Organisms/swap/SwapSummary.tsx
  frontend/ui-pablo/app/defi/types/index.ts
  frontend/ui-pablo/app/defi/types/pablo/ConstantProductPool.ts
  frontend/ui-pablo/app/defi/types/pablo/LiquidityBootstrappingPool.ts
  frontend/ui-pablo/app/defi/types/pablo/PoolFeeConfig.ts
  frontend/ui-pablo/app/defi/types/pablo/StableSwapPool.ts
  frontend/ui-pablo/app/defi/types/pablo/index.ts
  frontend/ui-pablo/app/defi/utils/pablo/math.ts
  frontend/ui-pablo/app/defi/utils/pablo/pools/decode.ts
  frontend/ui-pablo/app/pages/auctions/[auctionId]/index.tsx
  frontend/ui-pablo/app/pages/auctions/index.tsx
  frontend/ui-pablo/app/pages/bond/select/[offerId].tsx
  frontend/ui-pablo/app/pages/pool/select/[poolId].tsx
  frontend/ui-pablo/app/store/hooks/bond/useCancelOffer.ts
  frontend/ui-pablo/app/store/hooks/bond/usePurchaseBond.ts
  frontend/ui-pablo/app/store/pools/pools.types.ts
  frontend/ui-pablo/app/store/swaps/swaps.slice.ts
  frontend/ui-pablo/app/store/swaps/swaps.types.ts
  frontend/ui-pablo/app/store/swaps/swaps.utils.ts
  frontend/ui-pablo/app/updaters/swaps/Updater.tsx
Owners: @ComposableFi/ui, @ComposableFi/blockchain-integrations

Experimental changes.
  frontend/ui-pablo/app/components/Molecules/DropdownCombinedBigNumberInput.tsx
  frontend/ui-pablo/app/components/Molecules/DropdownCombinedInput.tsx
  frontend/ui-pablo/app/components/Organisms/auction/BuyForm.tsx
  frontend/ui-pablo/app/components/Organisms/swap/PreviewModal.tsx
  frontend/ui-pablo/app/components/Organisms/swap/SwapForm.tsx
  frontend/ui-pablo/app/components/Organisms/swap/SwapSummary.tsx
  frontend/ui-pablo/app/defi/hooks/swaps/usePabloSwap.ts
  frontend/ui-pablo/app/defi/hooks/swaps/useSwaps.ts
  frontend/ui-pablo/app/defi/utils/pablo/spotPrice.ts
  frontend/ui-pablo/app/defi/utils/pablo/swaps.ts
  frontend/ui-pablo/app/store/hooks/useSwapsChart.ts
  frontend/ui-pablo/app/store/swaps/swaps.slice.ts
  frontend/ui-pablo/app/store/swaps/swaps.types.ts
  frontend/ui-pablo/app/store/swaps/swaps.utils.ts
  frontend/ui-pablo/app/updaters/swaps/Updater.tsx
Owners: @ComposableFi/ui, @ComposableFi/blockchain-integrations

Cleanups.
  frontend/ui-pablo/app/components/Organisms/swap/PreviewModal.tsx
Owners: @ComposableFi/ui, @ComposableFi/blockchain-integrations

Form rework.
  frontend/ui-pablo/app/components/Molecules/DropdownCombinedBigNumberInput.tsx
  frontend/ui-pablo/app/components/Organisms/swap/PreviewModal.tsx
  frontend/ui-pablo/app/components/Organisms/swap/SwapChart.tsx
  frontend/ui-pablo/app/components/Organisms/swap/SwapForm.tsx
  frontend/ui-pablo/app/defi/hooks/swaps/useSwaps.ts
  frontend/ui-pablo/app/pages/_app.tsx
Owners: @ComposableFi/ui, @ComposableFi/blockchain-integrations

Swap form change default assets.
  frontend/ui-pablo/app/components/Organisms/swap/SwapForm.tsx
  frontend/ui-pablo/app/defi/hooks/swaps/useSwaps.ts
  frontend/ui-pablo/app/store/swaps/swaps.slice.ts
  frontend/ui-pablo/app/store/swaps/swaps.utils.ts
Owners: @ComposableFi/ui, @ComposableFi/blockchain-integrations

Flip asset selection.
  frontend/ui-pablo/app/components/Organisms/swap/SwapForm.tsx
  frontend/ui-pablo/app/defi/hooks/swaps/useSwaps.ts
  frontend/ui-pablo/app/store/swaps/swaps.slice.ts
  frontend/ui-pablo/app/store/swaps/swaps.types.ts
  frontend/ui-pablo/app/store/swaps/swaps.utils.ts
Owners: @ComposableFi/ui, @ComposableFi/blockchain-integrations

Build docker for multi platform [add darwin]
  Makefile
Owners: @ComposableFi/sre

Build docker for multi platform [add darwin]ga
  .github/workflows/docker-release.yml
Owners: @ComposableFi/sre

update docker-sandbox
  Makefile
Owners: @ComposableFi/sre

Enable docker sandbox for xcvm-main
  .github/workflows/docker-release.yml
Owners: @ComposableFi/sre

Enable docker sandbox for xcvm-main
  .github/workflows/docker-release.yml
Owners: @ComposableFi/sre

Enable docker sandbox for xcvm-main
  Makefile
Owners: @ComposableFi/sre

Enable docker sandbox for xcvm-main
  .github/workflows/docker-release.yml
  Makefile
Owners: @ComposableFi/sre

Enable docker sandbox for xcvm-main
  .github/workflows/docker-release.yml
Owners: @ComposableFi/sre

update trgiggers
  .github/workflows/docker-release.yml
Owners: @ComposableFi/sre

update sandbox dockerfile ubuntu image
  docker/composable-sandbox.dockerfile
Owners: @ComposableFi/sre

update platforms
  Makefile
  docker/composable-sandbox.dockerfile
Owners: @ComposableFi/sre

update platforms
  Makefile
Owners: @ComposableFi/sre

update platforms
  Makefile
Owners: @ComposableFi/sre

disable git-lfs in codespace
  .devcontainer/devcontainer.json
Owners: @ComposableFi/core

fix missing make
  docker/composable-sandbox.dockerfile
Owners: @ComposableFi/sre

fix container build maybe
  docker/composable-sandbox.dockerfile
Owners: @ComposableFi/sre
