Repository ComposableFi/composable, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ComposableFi/core, @ComposableFi/sre, @ComposableFi/parachain-leads, @ComposableFi/parachain, @ComposableFi/parachain-finance, @ComposableFi/parachain-rpc, @ComposableFi/technical-writing-reviewers, @ComposableFi/ui, @ComposableFi/blockchain-integrations, @ComposableFi/testers

tests for dutch auction fix
  integration-tests/runtime-tests/test/tests/dutchAuction/HAL05-Test.ts
Owners: @ComposableFi/testers

Changed account generation. Vault balancing checking and market availability checking is moved in separate helper function
  frame/composable-traits/src/vault.rs
  frame/lending/src/helpers.rs
  frame/lending/src/tests/vault.rs
  frame/lending/src/types.rs
  frame/vault/src/lib.rs
Owners: @ComposableFi/parachain-finance, @ComposableFi/parachain

Fix add liquidity dropdown.
  frontend/ui-pablo/app/.env.example
  frontend/ui-pablo/app/components/Organisms/liquidity/AddForm/index.tsx
  frontend/ui-pablo/app/updaters/addLiquidity/Updater.tsx
  frontend/ui-pablo/app/updaters/assets/apollo/Updater.tsx
Owners: @ComposableFi/ui, @ComposableFi/blockchain-integrations

fix fmt
  frame/lending/src/types.rs
Owners: @ComposableFi/parachain

test(CH): remove valid amount helpers in open_position
  frame/clearing-house/src/tests/open_position.rs
Owners: @ComposableFi/parachain

test(CH): standardize sections
  frame/clearing-house/src/tests/open_position.rs
Owners: @ComposableFi/parachain

test(Integration Tests): HAL-05 Verification added.
  integration-tests/runtime-tests/test/tests/dutchAuction/HAL05-Test.ts
Owners: @ComposableFi/testers

Fix swaps
  frontend/ui-pablo/app/components/Organisms/swap/SwapForm.tsx
  frontend/ui-pablo/app/store/swaps/swaps.slice.ts
  frontend/ui-pablo/app/store/swaps/swaps.types.ts
  frontend/ui-pablo/app/store/swaps/swaps.utils.ts
  frontend/ui-pablo/app/updaters/swaps/Updater.tsx
Owners: @ComposableFi/ui, @ComposableFi/blockchain-integrations

Fix asset dropdown at the top.
  frontend/ui-pablo/app/components/Organisms/Wallet/PolkadotConnect.tsx
  frontend/ui-pablo/app/defi/hooks/useAssetsWithBalance.ts
Owners: @ComposableFi/ui, @ComposableFi/blockchain-integrations

test(CH): ensure no dust position left by open_position
  frame/clearing-house/src/tests/open_position.rs
Owners: @ComposableFi/parachain

Adding Formatters
  frontend/ui-picasso/app/components/Atom/PositionDetails.tsx
  frontend/ui-picasso/app/components/Molecules/AllBondsTable.tsx
  frontend/ui-picasso/app/components/Molecules/MyBondingsTable.tsx
  frontend/ui-picasso/app/components/Organisms/Bond/BondForm.tsx
  frontend/ui-picasso/app/components/Organisms/Bond/ClaimForm.tsx
  frontend/ui-picasso/app/components/Organisms/Bond/HighlightBoxes.tsx
  frontend/ui-picasso/app/defi/polkadot/hooks/useBondVestingInDays.ts
  frontend/ui-picasso/app/defi/polkadot/hooks/useOpenPositions.ts
  frontend/ui-picasso/app/utils/formatters.ts
Owners: @ComposableFi/ui, @ComposableFi/blockchain-integrations

Introduce relayer core loop, Chain abstraction
  Cargo.lock
  Cargo.toml
  src/chain.rs
  src/chain/cosmos.rs
  src/chain/parachain.rs
  src/lib.rs
Owners: @ComposableFi/core

Add useClaim hook
  frontend/ui-picasso/app/components/Organisms/Bond/ClaimForm.tsx
  frontend/ui-picasso/app/stores/defi/polkadot/bonds/useClaim.tsx
Owners: @ComposableFi/ui, @ComposableFi/blockchain-integrations

Refactor duplicated logics
  frontend/ui-picasso/app/components/Molecules/MyBondingsTable.tsx
  frontend/ui-picasso/app/stores/defi/polkadot/bonds/useClaim.tsx
Owners: @ComposableFi/ui, @ComposableFi/blockchain-integrations

Move utility function to defi directory and re-use
  frontend/ui-picasso/app/components/Organisms/Bond/ClaimForm.tsx
  frontend/ui-picasso/app/stores/defi/polkadot/bonds/useClaim.tsx
  frontend/ui-picasso/app/stores/defi/polkadot/bonds/utils.ts
Owners: @ComposableFi/ui, @ComposableFi/blockchain-integrations

test(CH): expect profits to be outstanding after open_position
  frame/clearing-house/src/tests/open_position.rs
Owners: @ComposableFi/parachain

chore(CH): settle with outstanding profits in open_position
  frame/clearing-house/src/lib.rs
  frame/clearing-house/src/types.rs
Owners: @ComposableFi/parachain

fix(CH): avoid underflow with saturating_sub
  frame/clearing-house/src/lib.rs
Owners: @ComposableFi/parachain

refactor(CH): group trading helpers together
  frame/clearing-house/src/lib.rs
Owners: @ComposableFi/parachain

feature(instrumental-strategy-pablo): add storage with admin accounts and their rights
  frame/composable-traits/src/instrumental.rs
  frame/instrumental-strategy-pablo/src/lib.rs
Owners: @ComposableFi/parachain-finance, @ComposableFi/parachain

test(CH): add TODO to withdraw_collateral
  frame/clearing-house/src/tests/withdraw_collateral.rs
Owners: @ComposableFi/parachain

style(CH): rename gains to profits
  frame/clearing-house/src/lib.rs
  frame/clearing-house/src/tests/mod.rs
  frame/clearing-house/src/types.rs
Owners: @ComposableFi/parachain

refactoring(instrumental-strategy-pablo): refactor 'do_rebalance' function
  frame/instrumental-strategy-pablo/src/lib.rs
  frame/instrumental-strategy/src/lib.rs
  frame/lending/src/lib.rs
Owners: @ComposableFi/parachain

refactor(instrumental-strategy-pablo): small refactor of 'do_rebalance'
  frame/instrumental-strategy-pablo/src/lib.rs
Owners: @ComposableFi/parachain

Auctions update with dynamic assets
  frontend/ui-pablo/app/components/Organisms/AllAuctionsTable.tsx
  frontend/ui-pablo/app/components/Organisms/auction/AuctionHistoriesTable.tsx
  frontend/ui-pablo/app/components/Organisms/auction/AuctionInformation.tsx
  frontend/ui-pablo/app/components/Organisms/auction/AuctionPriceChart.tsx
  frontend/ui-pablo/app/components/Organisms/auction/BuyForm.tsx
  frontend/ui-pablo/app/components/Organisms/swap/SwapForm.tsx
  frontend/ui-pablo/app/defi/hooks/auctions/index.ts
  frontend/ui-pablo/app/defi/hooks/auctions/useAuctionSpotPrice.ts
  frontend/ui-pablo/app/defi/hooks/auctions/useLiquidityBootstrappingPools.ts
  frontend/ui-pablo/app/pages/auctions/[auctionId]/index.tsx
  frontend/ui-pablo/app/pages/pool/index.tsx
  frontend/ui-pablo/app/store/auctions/hooks.ts
  frontend/ui-pablo/app/updaters/assets/apollo/Updater.tsx
  frontend/ui-pablo/app/updaters/auctions/Updater.tsx
Owners: @ComposableFi/ui, @ComposableFi/blockchain-integrations

chore(CH): update comment
  frame/clearing-house/src/lib.rs
Owners: @ComposableFi/parachain

test(CH): import Long and Short directly
  frame/clearing-house/src/tests/open_position.rs
Owners: @ComposableFi/parachain

test(CH): expect index-mark spread controls in open_position
  frame/clearing-house/src/tests/open_position.rs
Owners: @ComposableFi/parachain

refactoring(instrumental-strategy-pablo): refactor 'set_pool_id_for_asset' function
  frame/instrumental-strategy-pablo/src/lib.rs
Owners: @ComposableFi/parachain

refactoring(composable-traits/instrumental): refactor docs
  frame/composable-traits/src/instrumental.rs
Owners: @ComposableFi/parachain-finance

refactoring(instrumental-strategy-pablo): add empty line
  frame/instrumental-strategy-pablo/src/lib.rs
Owners: @ComposableFi/parachain

feat(cosmwasm): correct handling of data
  frame/contracts/common/src/lib.rs
  frame/contracts/src/exec.rs
  frame/contracts/src/lib.rs
  frame/contracts/src/wasm/cosmwasm/types.rs
  integration-tests/runtime-tests/package.json
  integration-tests/runtime-tests/src/types/interfaces/augment-api-errors.ts
  integration-tests/runtime-tests/src/types/interfaces/augment-api-events.ts
  integration-tests/runtime-tests/src/types/interfaces/augment-api-tx.ts
  integration-tests/runtime-tests/src/types/interfaces/cosmwasm/definitions.ts
  integration-tests/runtime-tests/src/types/interfaces/cosmwasm/types.ts
  integration-tests/runtime-tests/test/tests/cosmwasm/rpcCosmwasmTests.ts
Owners: @ComposableFi/parachain, @ComposableFi/testers

docs(mdbook mosaic): added text and images
  book/src/SUMMARY.md
  book/src/products/mosaic-overview.md
  book/src/products/mosaic/active-liquidity-management.md
  book/src/products/mosaic/additional-use-cases.md
  book/src/products/mosaic/chain-transfer-sequence.png
  book/src/products/mosaic/chains-supported-day-one.md
  book/src/products/mosaic/liquidity-bot-sequence-diagram.png
  book/src/products/mosaic/mosaic-fee-model-optimized.png
  book/src/products/mosaic/mosaic-fee-model.png
  book/src/products/mosaic/mosaic-integration.png
  book/src/products/mosaic/mosaic-integrations.md
  book/src/products/mosaic/mosaic-pallet.md
  book/src/products/mosaic/mosaic-phase1-result.md
  book/src/products/mosaic/single-sided-liquidity-staking.md
  book/src/products/mosaic/single-sided-staking.md
  book/src/products/mosaic/transfer-amount-vertical.png
  book/src/products/mosaic/transfer-network-graph.png
  book/src/products/mosaic/transfer-times-plot.png
  book/src/products/mosaic/transfer-times-vertical.png
Owners: @ComposableFi/technical-writing-reviewers

Update assets in auctions
  frontend/ui-pablo/app/components/Organisms/auction/AuctionDetails/AuctionSettings.tsx
  frontend/ui-pablo/app/components/Organisms/auction/AuctionDetails/AuctionStatistics.tsx
  frontend/ui-pablo/app/components/Organisms/auction/AuctionDetails/ContractDetails.tsx
  frontend/ui-pablo/app/components/Organisms/auction/AuctionDetails/index.tsx
  frontend/ui-pablo/app/components/Organisms/auction/AuctionInformation.tsx
  frontend/ui-pablo/app/components/Organisms/auction/AuctionPriceChart.tsx
  frontend/ui-pablo/app/components/Organisms/auction/BuyForm.tsx
  frontend/ui-pablo/app/pages/auctions/[auctionId]/index.tsx
Owners: @ComposableFi/ui, @ComposableFi/blockchain-integrations

Fix storybook.
  frontend/ui-pablo/app/components/Organisms/AllAuctionsTable.tsx
  frontend/ui-pablo/app/components/Organisms/auction/AuctionDetails/AuctionSettings.tsx
  frontend/ui-pablo/app/components/Organisms/auction/AuctionInformation.tsx
  frontend/ui-pablo/app/defi/utils/pablo/pools/decode.ts
  frontend/ui-pablo/app/pages/auctions/[auctionId]/index.tsx
  frontend/ui-pablo/app/store/auctions/auctions.slice.ts
  frontend/ui-pablo/app/store/pools/pools.types.ts
  frontend/ui-pablo/app/store/swaps/swaps.slice.ts
  frontend/ui-pablo/storybook/stories/organisms/auction_details.stories.tsx
  frontend/ui-pablo/storybook/stories/organisms/auction_histories_table.stories.tsx
  frontend/ui-pablo/storybook/stories/organisms/auction_information.stories.tsx
  frontend/ui-pablo/storybook/stories/organisms/auction_price_chart.stories.tsx
Owners: @ComposableFi/ui, @ComposableFi/blockchain-integrations

Removal of hardcoded assets methods/ids from pablo.
  frontend/ui-pablo/app/components/Organisms/liquidity/AddForm/ConfirmSupplyModal.tsx
  frontend/ui-pablo/app/components/Organisms/liquidity/RemoveForm/ConfirmingModal.tsx
  frontend/ui-pablo/app/components/Organisms/liquidity/RemoveForm/PreviewDetails.tsx
  frontend/ui-pablo/app/components/Organisms/liquidity/RemoveForm/index.tsx
  frontend/ui-pablo/app/components/Organisms/pool/CreatePool/steps/ConfirmPool/index.tsx
  frontend/ui-pablo/app/components/Organisms/pool/CreatePool/steps/SimilarPoolsStep.tsx
  frontend/ui-pablo/app/defi/polkadot/Assets.ts
  frontend/ui-pablo/app/defi/polkadot/utils.ts
  frontend/ui-pablo/app/defi/utils/pablo/pools/decode.ts
  frontend/ui-pablo/app/defi/utils/pablo/pools/stats.ts
  frontend/ui-pablo/app/store/assets/assets.slice.ts
  frontend/ui-pablo/app/store/hooks/useLiquidityPoolsList.ts
Owners: @ComposableFi/ui, @ComposableFi/blockchain-integrations

Move bonds utils to respective folder.
  frontend/ui-pablo/app/defi/utils/bonds/index.ts
  frontend/ui-pablo/app/defi/utils/index.ts
  frontend/ui-pablo/app/defi/utils/vestedSchedules/index.ts
  frontend/ui-pablo/app/updaters/bonds/Updater.tsx
Owners: @ComposableFi/ui, @ComposableFi/blockchain-integrations

remove useless import and file
  frontend/ui-pablo/app/store/hooks/useAddLiquidity.ts
  frontend/ui-pablo/app/utils/constants.ts
Owners: @ComposableFi/ui, @ComposableFi/blockchain-integrations

fix topbar
  frontend/ui-pablo/app/components/Organisms/Wallet/PolkadotConnect.tsx
Owners: @ComposableFi/ui, @ComposableFi/blockchain-integrations

Remove extra state from swaps store.
  frontend/ui-pablo/app/defi/utils/assets/PicassoAssets.ts
  frontend/ui-pablo/app/defi/utils/assets/index.ts
  frontend/ui-pablo/app/defi/utils/assets/utils.ts
  frontend/ui-pablo/app/defi/utils/pablo/pools/decode.ts
  frontend/ui-pablo/app/defi/utils/pablo/pools/fetchPools.ts
  frontend/ui-pablo/app/defi/utils/pablo/pools/stats.ts
  frontend/ui-pablo/app/defi/utils/pablo/types.ts
  frontend/ui-pablo/app/store/swaps/swaps.slice.ts
  frontend/ui-pablo/app/store/swaps/swaps.types.ts
  frontend/ui-pablo/app/store/swaps/swaps.utils.ts
  frontend/ui-pablo/app/updaters/swaps/Updater.tsx
Owners: @ComposableFi/ui, @ComposableFi/blockchain-integrations

.github/CODEOWNERS:

# Note, this file is sorted by precedence. Later patterns take precedence over earlier ones.

# Default reviewers. For anything not owned by a specific team, a core member needs to review or delegate.
* @ComposableFi/core

# CI and deployment related files
.github/ @ComposableFi/sre
.github/CODEOWNERS @ComposableFi/core
docker/ @ComposableFi/sre
Makefile @ComposableFi/sre

# Parachain related files
runtime/ @ComposableFi/parachain-leads
node/ @ComposableFi/parachain-leads
frame/ @ComposableFi/parachain
integration-tests/ @ComposableFi/parachain

frame/composable-traits/ @ComposableFi/parachain-finance
frame/*/rpc/ @ComposableFi/parachain-rpc
frame/*/runtime-api @ComposableFi/parachain-rpc

# Gitbook
book/ @ComposableFi/technical-writing-reviewers

# Frontend and Blockchain Integration 
frontend/ @ComposableFi/ui @ComposableFi/blockchain-integrations

# Runtime Integration Tests
integration-tests/runtime-tests/ @ComposableFi/testers

# Oracle Setup Script
scripts/oracle-setup @ComposableFi/parachain
