Repository ComposableFi/composable, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ComposableFi/core, @ComposableFi/developers, @ComposableFi/sre, @ComposableFi/parachain-leads, @ComposableFi/parachain, @ComposableFi/testers, @ComposableFi/parachain-finance, @ComposableFi/blockchain-integrations, @ComposableFi/parachain-rpc, @ComposableFi/technical-writers, @ComposableFi/codespacers, @ComposableFi/nix, @ComposableFi/security

.github/CODEOWNERS:

# Note, this file is sorted by precedence. Later patterns take precedence over earlier ones

## Default reviewers.

* @ComposableFi/core  # For anything not owned by a specific team, a core member needs to review or delegate

*.nix @ComposableFi/developers # until under specific folder, *.nix stuff is developers' stuff

## CI and deployment related files

.github/ @ComposableFi/sre
.github/CODEOWNERS @ComposableFi/core
docker/ @ComposableFi/sre
Makefile @ComposableFi/sre

## Parachain related files

code/parachain/runtime/ @ComposableFi/parachain-leads

code/parachain/node/ @ComposableFi/parachain-leads
code/parachain/frame/ @ComposableFi/parachain
code/integration-tests/ @ComposableFi/parachain @ComposableFi/testers

code/parachain/frame/composable-traits/ @ComposableFi/parachain-finance
code/parachain/frame/pablo/ @ComposableFi/parachain-finance
code/parachain/frame/dex-router/ @ComposableFi/parachain-finance
code/parachain/frame/nft/ @ComposableFi/parachain-finance
code/parachain/frame/staking-rewards/ @ComposableFi/parachain-finance
code/parachain/frame/oracle/ @ComposableFi/parachain-finance
subsquid/ @ComposableFi/parachain-finance @ComposableFi/blockchain-integrations
code/parachain/frame/*/rpc/ @ComposableFi/parachain-rpc
code/parachain/frame/*/runtime-api @ComposableFi/parachain-rpc

## Public Gitbook

book/ @ComposableFi/technical-writers
README.md @ComposableFi/technical-writers @ComposableFi/core @ComposableFi/parachain-leads

## Frontend and Blockchain Integration
frontend/ @ComposableFi/blockchain-integrations @ComposableFi/parachain-finance
.github/workflows/frontend-pablo-eslint.yml @ComposableFi/sre @ComposableFi/blockchain-integrations
.github/workflows/frontend-pablo-tests.yml  @ComposableFi/sre  @ComposableFi/blockchain-integrations
.github/workflows/frontend-picasso-eslint.yml  @ComposableFi/sre  @ComposableFi/blockchain-integrations
.github/workflows/frontend-picasso-tests.yml  @ComposableFi/sre  @ComposableFi/blockchain-integrations

## Runtime Integration Tests

code/integration-tests/runtime-tests/ @ComposableFi/testers

## Codespaces

.devcontainer/ @ComposableFi/codespacers @ComposableFi/parachain-leads

## Nix

.nix/ @ComposableFi/nix
flake.nix @ComposableFi/nix

# ComposableJS
composablejs/ @ComposableFi/parachain

## Dev stuff

rfcs/ @ComposableFi/developers
docs/ @ComposableFi/developers @ComposableFi/technical-writers
scripts/ @ComposableFi/developers @ComposableFi/sre
code/utils/ @ComposableFi/developers @ComposableFi/sre @ComposableFi/testers
.config/spellcheck.dic @ComposableFi/developers @ComposableFi/technical-writers
# Oracle Setup Script
scripts/oracle-setup @ComposableFi/parachain

# Repository 
README.md @ComposableFi/technical-writers @ComposableFi/core
SECURITY.md @ComposableFi/security
REVIEWERS.md @ComposableFi/core
ARCHITECTURE.md @ComposableFi/core
LICENSE @ComposableFi/technical-writers @ComposableFi/core

add LockedSource to HistoricalLockedValues, so that locked value can be individually queried
  subsquid/Makefile
  subsquid/db/migrations/1662998227514-Data.js
  subsquid/schema.graphql
  subsquid/src/dbHelper.ts
  subsquid/src/model/generated/_lockedSource.ts
  subsquid/src/model/generated/_stakingSource.ts
  subsquid/src/model/generated/historicalLockedValue.model.ts
  subsquid/src/model/generated/index.ts
  subsquid/src/model/generated/stakingPosition.model.ts
  subsquid/src/processor.ts
  subsquid/src/processors/balances.ts
  subsquid/src/processors/pablo.ts
  subsquid/src/processors/stakingRewards.ts
  subsquid/src/processors/vestingSchedule.ts
  subsquid/src/server-extension/resolvers/totalValueLocked.ts
Owners: @ComposableFi/parachain-finance, @ComposableFi/blockchain-integrations

fix tests
  subsquid/test/stakingRewards.test.ts
Owners: @ComposableFi/parachain-finance, @ComposableFi/blockchain-integrations

feat: nix fmt package that fmts nix
  flake.nix
Owners: @ComposableFi/nix

feat: fmt toml, rs, js, ts
  flake.nix
Owners: @ComposableFi/nix

fix: deprecation notices for style and style-check
  Makefile
Owners: @ComposableFi/sre

chore: delete old style script
  scripts/style.sh
Owners: @ComposableFi/developers, @ComposableFi/sre

fix: deprecate a few make commands. more tbhd
  Makefile
Owners: @ComposableFi/sre

fmt with new formatter
  code/parachain/frame/composable-traits/src/rate_model.rs
  code/parachain/frame/ibc/src/ics23/acknowledgements.rs
  code/parachain/frame/ibc/src/ics23/channels.rs
  code/parachain/frame/ibc/src/ics23/consensus_states.rs
  code/parachain/frame/ibc/src/ics23/packet_commitments.rs
Owners: @ComposableFi/parachain-finance, @ComposableFi/parachain

create resolver for staking rewards stats
  subsquid/src/server-extension/resolvers/index.ts
  subsquid/src/server-extension/resolvers/stakingRewards.ts
Owners: @ComposableFi/parachain-finance, @ComposableFi/blockchain-integrations

feat: xargs instead of exec
  flake.nix
Owners: @ComposableFi/nix

rust xargs instead of exec
  flake.nix
Owners: @ComposableFi/nix
