Repository ComposableFi/composable, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ComposableFi/core, @ComposableFi/developers, @ComposableFi/sre, @ComposableFi/parachain-leads, @ComposableFi/parachain, @ComposableFi/testers, @ComposableFi/parachain-finance, @ComposableFi/blockchain-integrations, @ComposableFi/parachain-rpc, @ComposableFi/technical-writing-reviewers, @ComposableFi/codespacers, @dzmitry-lahoda, @hussein-aitlahcen, @cor, @ComposableFi/technical-writers, @ComposableFi/security

.github/CODEOWNERS:

# Note, this file is sorted by precedence. Later patterns take precedence over earlier ones

## Default reviewers.

* @ComposableFi/core  # For anything not owned by a specific team, a core member needs to review or delegate

*.nix @ComposableFi/developers # until under specific folder, *.nix stuff is developers' stuff

## CI and deployment related files

.github/ @ComposableFi/sre
.github/CODEOWNERS @ComposableFi/core
docker/ @ComposableFi/sre
Makefile @ComposableFi/sre

## Parachain related files

runtime/ @ComposableFi/parachain-leads

node/ @ComposableFi/parachain-leads
frame/ @ComposableFi/parachain
integration-tests/ @ComposableFi/parachain @ComposableFi/testers

frame/composable-traits/ @ComposableFi/parachain-finance
frame/pablo/ @ComposableFi/parachain-finance
frame/dex-router/ @ComposableFi/parachain-finance
frame/nft/ @ComposableFi/parachain-finance
frame/staking-rewards/ @ComposableFi/parachain-finance
frame/oracle/ @ComposableFi/parachain-finance
subsquid/ @ComposableFi/parachain-finance @ComposableFi/blockchain-integrations
frame/*/rpc/ @ComposableFi/parachain-rpc
frame/*/runtime-api @ComposableFi/parachain-rpc

## Public Gitbook

book/ @ComposableFi/technical-writing-reviewers
README.md @ComposableFi/technical-writing-reviewers @ComposableFi/core @ComposableFi/parachain-leads

## Frontend and Blockchain Integration
frontend/ @ComposableFi/blockchain-integrations @ComposableFi/parachain-finance
.github/workflows/frontend-pablo-eslint.yml @ComposableFi/sre @ComposableFi/blockchain-integrations
.github/workflows/frontend-pablo-tests.yml  @ComposableFi/sre  @ComposableFi/blockchain-integrations
.github/workflows/frontend-picasso-eslint.yml  @ComposableFi/sre  @ComposableFi/blockchain-integrations
.github/workflows/frontend-picasso-tests.yml  @ComposableFi/sre  @ComposableFi/blockchain-integrations

## Runtime Integration Tests

integration-tests/runtime-tests/ @ComposableFi/testers

## Codespaces

.devcontainer/ @ComposableFi/codespacers @ComposableFi/parachain-leads

## Nix

.nix/ @dzmitry-lahoda @hussein-aitlahcen @cor
flake.nix @dzmitry-lahoda @hussein-aitlahcen @cor

# ComposableJS
composablejs/ @ComposableFi/parachain

## Dev stuff

rfcs/ @ComposableFi/developers
docs/ @ComposableFi/developers @ComposableFi/technical-writers
scripts/ @ComposableFi/developers @ComposableFi/sre
utils/ @ComposableFi/developers @ComposableFi/sre @ComposableFi/testers
.config/spellcheck.dic @ComposableFi/developers @ComposableFi/technical-writers
# Oracle Setup Script
scripts/oracle-setup @ComposableFi/parachain

# Repository 
README.md @ComposableFi/technical-writing-reviewers @ComposableFi/core
SECURITY.md @ComposableFi/security
REVIEWERS.md @ComposableFi/core
ARCHITECTURE.md @ComposableFi/core
LICENSE @ComposableFi/technical-writing-reviewers @ComposableFi/core

Renamed to bi-lib
  frontend/apps/picasso/components/Organisms/CrowdloanRewards/ClaimloanPage.tsx
  frontend/apps/picasso/components/Organisms/Wallet/MetamaskConnect.tsx
  frontend/apps/picasso/jest.setup.js
  frontend/apps/picasso/next.config.js
  frontend/apps/picasso/package.json
  frontend/apps/picasso/pages/_app.tsx
  frontend/apps/picasso/pages/crowdloan-rewards/index.tsx
  frontend/apps/picasso/pages/staking/index.tsx
  frontend/apps/picasso/stores/defi/polkadot/crowdloanRewards/CrowdloanRewardsUpdater.tsx
  frontend/apps/picasso/tests/pages/stats.test.tsx
  frontend/packages/bi-lib/package.json
  frontend/packages/bi-lib/tsconfig.json
Owners: @ComposableFi/blockchain-integrations, @ComposableFi/parachain-finance

Fix eslint warning on anonymous export (#1427)
  frontend/apps/pablo/__mocks__/svgMock.js
  frontend/apps/picasso/__mocks__/svgMock.js
Owners: @ComposableFi/blockchain-integrations, @ComposableFi/parachain-finance

cor/nix-readme (#1469)
  README.md
Owners: @ComposableFi/technical-writing-reviewers, @ComposableFi/core

refactor(CH): simplify 'construct_runtime!'s
  frame/clearing-house/src/integrations/mock.rs
  frame/clearing-house/src/mock/runtime.rs
Owners: @ComposableFi/parachain

test(CH): integrate Apollo in mock runtime
  Cargo.lock
  frame/clearing-house/Cargo.toml
  frame/clearing-house/src/integrations/mock.rs
  frame/clearing-house/src/integrations/tests.rs
Owners: @ComposableFi/core, @ComposableFi/parachain

chore(CH): add boilerplate for integration tests
  Cargo.lock
  frame/clearing-house/Cargo.toml
  frame/clearing-house/src/integrations/mock.rs
  frame/clearing-house/src/integrations/mod.rs
  frame/clearing-house/src/integrations/tests.rs
  frame/clearing-house/src/lib.rs
  frame/composable-traits/src/vamm.rs
Owners: @ComposableFi/core, @ComposableFi/parachain, @ComposableFi/parachain-finance

test(CH): turn unit test into proptest
  frame/clearing-house/src/integrations/tests.rs
Owners: @ComposableFi/parachain

test(CH): add helpers for setting up the oracle
  frame/clearing-house/src/integrations/tests.rs
Owners: @ComposableFi/parachain

test(CH): try creating market with integrations
  frame/clearing-house/src/integrations/mock.rs
  frame/clearing-house/src/integrations/tests.rs
Owners: @ComposableFi/parachain

test(CH): create market with integrations
  Cargo.lock
  frame/clearing-house/Cargo.toml
  frame/clearing-house/proptest-regressions/integrations/tests.txt
  frame/clearing-house/src/integrations/mock.rs
  frame/clearing-house/src/integrations/tests.rs
Owners: @ComposableFi/core, @ComposableFi/parachain

test(CH): open position in integrations env
  frame/clearing-house/src/integrations/mock.rs
  frame/clearing-house/src/integrations/tests.rs
Owners: @ComposableFi/parachain

style(CH): trim and re-center comment sections
  frame/clearing-house/src/integrations/mock.rs
  frame/clearing-house/src/integrations/tests.rs
Owners: @ComposableFi/parachain

refactor(CH): improve integrations organization
  frame/clearing-house/src/integrations/mock.rs
  frame/clearing-house/src/integrations/tests.rs
Owners: @ComposableFi/parachain

chore(style): apply cargo fmt
  xcvm/lib/core/src/asset.rs
  xcvm/lib/core/src/instruction.rs
  xcvm/lib/core/src/network.rs
Owners: @ComposableFi/core

feat(xcvm): introduce `xcvm-core`
  Cargo.lock
  Cargo.toml
  xcvm/lib/core/Cargo.toml
  xcvm/lib/core/src/abstraction.rs
  xcvm/lib/core/src/asset.rs
  xcvm/lib/core/src/instruction.rs
  xcvm/lib/core/src/lib.rs
  xcvm/lib/core/src/network.rs
  xcvm/lib/core/src/program.rs
  xcvm/lib/core/src/protocol.rs
Owners: @ComposableFi/core

feat(xcvm-core): helpers for `Amount` construction
  xcvm/lib/core/src/asset.rs
Owners: @ComposableFi/core

fixup(xcvm): use max `u32` for ratio
  xcvm/lib/core/src/asset.rs
Owners: @ComposableFi/core

feat(xcvm-core): reimplement `Amount` as a linear equation
  Cargo.lock
  xcvm/lib/core/Cargo.toml
  xcvm/lib/core/src/asset.rs
  xcvm/lib/core/src/network.rs
Owners: @ComposableFi/core

fixup(xcvm): program tag unwrapped, empty tag =~ none
  xcvm/lib/core/src/lib.rs
  xcvm/lib/core/src/program.rs
Owners: @ComposableFi/core

feat(xcvm-core): better peano, more doc and remove serde json
  Cargo.lock
  xcvm/lib/core/Cargo.toml
  xcvm/lib/core/src/abstraction.rs
  xcvm/lib/core/src/asset.rs
  xcvm/lib/core/src/lib.rs
Owners: @ComposableFi/core

fixup(xcvm): naming
  xcvm/lib/core/src/lib.rs
  xcvm/lib/core/src/network.rs
Owners: @ComposableFi/core

chore(style): format
  xcvm/lib/core/src/abstraction.rs
  xcvm/lib/core/src/asset.rs
Owners: @ComposableFi/core

feat(xcvm-core): seal `Nat`
  xcvm/lib/core/src/abstraction.rs
Owners: @ComposableFi/core

fix: change to non-doc comment in xcvm/lib/core/src/network.rs
  Cargo.lock
  xcvm/lib/core/src/asset.rs
  xcvm/lib/core/src/network.rs
Owners: @ComposableFi/core

Parachain client implementation (#5)
  .gitignore
  Cargo.lock
  Cargo.toml
  bin/main.rs
  build.rs
  rustfmt.toml
  src/chain.rs
  src/chain/parachain.rs
  src/chain/parachain/calls.rs
  src/chain/parachain/chain.rs
  src/chain/parachain/error.rs
  src/chain/parachain/key_provider.rs
  src/chain/parachain/polkadot.rs
  src/chain/parachain/provider.rs
  src/chain/parachain/signer.rs
  src/chain/parachain/utils.rs
  src/error.rs
  src/events.rs
  src/lib.rs
  src/logging.rs
  src/messages.rs
  tests/common.rs
  tests/parachain_ibc_test.rs
  tests/parachain_token_transfer.rs
  tests/read_proofs_test.rs
Owners: @ComposableFi/core

restart
  .nix/junod.nix
Owners: @dzmitry-lahoda, @hussein-aitlahcen, @cor

rebase and fmt
  flake.nix
Owners: @dzmitry-lahoda, @hussein-aitlahcen, @cor

fixing tmp of devnet
  scripts/polkadot-launch/network-builder.nix
Owners: @ComposableFi/developers, @ComposableFi/sre

Remove unused dependencies
  .github/workflows/build-test-deploy.yml
  Cargo.lock
  frame/dex-router/Cargo.toml
  frame/oracle/Cargo.toml
  runtime/dali/Cargo.toml
  utils/xcmp/Cargo.toml
Owners: @ComposableFi/sre, @ComposableFi/core, @ComposableFi/parachain-finance, @ComposableFi/parachain-leads, @ComposableFi/developers, @ComposableFi/testers

fixed comment
  flake.nix
Owners: @dzmitry-lahoda, @hussein-aitlahcen, @cor

feat(xcvm): introduce `xcvm-core` (#1392)
  Cargo.lock
  Cargo.toml
  xcvm/lib/core/Cargo.toml
  xcvm/lib/core/src/abstraction.rs
  xcvm/lib/core/src/asset.rs
  xcvm/lib/core/src/instruction.rs
  xcvm/lib/core/src/lib.rs
  xcvm/lib/core/src/network.rs
  xcvm/lib/core/src/program.rs
  xcvm/lib/core/src/protocol.rs
Owners: @ComposableFi/core

394nbkw Add show/hide options to transaction settings modal. (#1396)
  frontend/apps/pablo/components/Organisms/TransactionSettings/index.tsx
  frontend/apps/pablo/components/Organisms/liquidity/AddForm/index.tsx
Owners: @ComposableFi/blockchain-integrations, @ComposableFi/parachain-finance

#CU-2mezh63 junod client for cosmos for xcvm (#1466)
  .nix/junod.nix
  flake.nix
  scripts/polkadot-launch/network-builder.nix
Owners: @dzmitry-lahoda, @hussein-aitlahcen, @cor, @ComposableFi/developers, @ComposableFi/sre

works
  frame/undercollateralized-loans/src/helpers/general.rs
  frame/undercollateralized-loans/src/helpers/mod.rs
  frame/undercollateralized-loans/src/helpers/offchain.rs
  frame/undercollateralized-loans/src/lib.rs
  frame/undercollateralized-loans/src/mocks/general.rs
  frame/undercollateralized-loans/src/types.rs
  frame/undercollateralized-loans/src/validation.rs
Owners: @ComposableFi/parachain

works
  frame/undercollateralized-loans/src/mocks.rs
  frame/undercollateralized-loans/src/mocks/mod.rs
  frame/undercollateralized-loans/src/pseudo_code.txt
  frame/undercollateralized-loans/src/tests/mod.rs
  frame/undercollateralized-loans/src/tests/prelude.rs
Owners: @ComposableFi/parachain

comments
  frame/undercollateralized-loans/src/helpers/general.rs
  frame/undercollateralized-loans/src/helpers/getters.rs
  frame/undercollateralized-loans/src/helpers/mod.rs
  frame/undercollateralized-loans/src/helpers/offchain.rs
  frame/undercollateralized-loans/src/helpers/on_initialize.rs
  frame/undercollateralized-loans/src/lib.rs
Owners: @ComposableFi/parachain

added loans counters
  frame/undercollateralized-loans/src/helpers/general.rs
  frame/undercollateralized-loans/src/lib.rs
  frame/undercollateralized-loans/src/mocks.rs
  frame/undercollateralized-loans/src/types.rs
Owners: @ComposableFi/parachain

Update MaxVestingSchedules
  runtime/dali/src/lib.rs
Owners: @ComposableFi/parachain-leads

Add overview.md and dummy files to make links work. (#1458)
  frontend/apps/pablo/components/Organisms/overview/TVLChart.tsx
  frontend/apps/pablo/components/Organisms/overview/VolumeChart.tsx
  frontend/apps/pablo/pages/index.tsx
Owners: @ComposableFi/blockchain-integrations, @ComposableFi/parachain-finance

emit PriceChanged event when price changes on Oracle for PICA or PABLO
  Cargo.lock
  frame/oracle/Cargo.toml
  frame/oracle/src/lib.rs
  frame/oracle/src/tests.rs
Owners: @ComposableFi/core, @ComposableFi/parachain-finance
