Repository ComposableFi/composable, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ComposableFi/core, @ComposableFi/developers, @ComposableFi/sre, @ComposableFi/parachain-leads, @ComposableFi/parachain, @ComposableFi/testers, @ComposableFi/parachain-finance, @ComposableFi/blockchain-integrations, @ComposableFi/parachain-rpc, @ComposableFi/technical-writing-reviewers, @ComposableFi/codespacers, @dzmitry-lahoda, @hussein-aitlahcen, @cor, @ComposableFi/technical-writers, @ComposableFi/security

.github/CODEOWNERS:

# Note, this file is sorted by precedence. Later patterns take precedence over earlier ones

## Default reviewers.

* @ComposableFi/core  # For anything not owned by a specific team, a core member needs to review or delegate

*.nix @ComposableFi/developers # until under specific folder, *.nix stuff is developers' stuff

## CI and deployment related files

.github/ @ComposableFi/sre
.github/CODEOWNERS @ComposableFi/core
docker/ @ComposableFi/sre
Makefile @ComposableFi/sre

## Parachain related files

runtime/ @ComposableFi/parachain-leads

node/ @ComposableFi/parachain-leads
frame/ @ComposableFi/parachain
integration-tests/ @ComposableFi/parachain @ComposableFi/testers

frame/composable-traits/ @ComposableFi/parachain-finance
frame/pablo/ @ComposableFi/parachain-finance
frame/dex-router/ @ComposableFi/parachain-finance
frame/nft/ @ComposableFi/parachain-finance
frame/staking-rewards/ @ComposableFi/parachain-finance
frame/oracle/ @ComposableFi/parachain-finance
subsquid/ @ComposableFi/parachain-finance @ComposableFi/blockchain-integrations
frame/*/rpc/ @ComposableFi/parachain-rpc
frame/*/runtime-api @ComposableFi/parachain-rpc

## Public Gitbook

book/ @ComposableFi/technical-writing-reviewers
README.md @ComposableFi/technical-writing-reviewers @ComposableFi/core @ComposableFi/parachain-leads

## Frontend and Blockchain Integration
frontend/ @ComposableFi/blockchain-integrations @ComposableFi/parachain-finance
.github/workflows/frontend-pablo-eslint.yml @ComposableFi/sre @ComposableFi/blockchain-integrations
.github/workflows/frontend-pablo-tests.yml  @ComposableFi/sre  @ComposableFi/blockchain-integrations
.github/workflows/frontend-picasso-eslint.yml  @ComposableFi/sre  @ComposableFi/blockchain-integrations
.github/workflows/frontend-picasso-tests.yml  @ComposableFi/sre  @ComposableFi/blockchain-integrations

## Runtime Integration Tests

integration-tests/runtime-tests/ @ComposableFi/testers

## Codespaces

.devcontainer/ @ComposableFi/codespacers @ComposableFi/parachain-leads

## Nix

.nix/ @dzmitry-lahoda @hussein-aitlahcen @cor
flake.nix @dzmitry-lahoda @hussein-aitlahcen @cor

# ComposableJS
composablejs/ @ComposableFi/parachain

## Dev stuff

rfcs/ @ComposableFi/developers
docs/ @ComposableFi/developers @ComposableFi/technical-writers
scripts/ @ComposableFi/developers @ComposableFi/sre
utils/ @ComposableFi/developers @ComposableFi/sre @ComposableFi/testers
.config/spellcheck.dic @ComposableFi/developers @ComposableFi/technical-writers
# Oracle Setup Script
scripts/oracle-setup @ComposableFi/parachain

# Repository 
README.md @ComposableFi/technical-writing-reviewers @ComposableFi/core
SECURITY.md @ComposableFi/security
REVIEWERS.md @ComposableFi/core
ARCHITECTURE.md @ComposableFi/core
LICENSE @ComposableFi/technical-writing-reviewers @ComposableFi/core

fix build
  frame/oracle/src/lib.rs
Owners: @ComposableFi/parachain-finance

remove mistakenly duplicated line
  frame/oracle/src/lib.rs
Owners: @ComposableFi/parachain-finance

Formatting
  Cargo.lock
  flake.nix
  frame/dex-router/Cargo.toml
  frame/oracle/Cargo.toml
Owners: @ComposableFi/core, @dzmitry-lahoda, @hussein-aitlahcen, @cor, @ComposableFi/parachain-finance

Formatting
  runtime/composable/src/lib.rs
  runtime/dali/src/lib.rs
  runtime/picasso/src/lib.rs
Owners: @ComposableFi/parachain-leads

[cu-2vj4091] Fix fNFT unit tests
  frame/fnft/src/test/nonfungibles/inspect.rs
  frame/fnft/src/test/nonfungibles/mutate.rs
  frame/fnft/src/test/nonfungibles/transfer.rs
  frame/fnft/src/test/prelude.rs
  runtime/composable/src/lib.rs
  runtime/dali/src/lib.rs
  runtime/picasso/src/lib.rs
  xcvm/lib/core/Cargo.toml
Owners: @ComposableFi/parachain, @ComposableFi/parachain-leads, @ComposableFi/core

[CU-2tk2uxt] docs(frame): create pablo and dex router readme (#1371)
  frame/dex-router/README.md
  frame/pablo/README.md
Owners: @ComposableFi/technical-writing-reviewers, @ComposableFi/core

[cu-32wfq3f] Bonded Finance Updates
  frontend/apps/pablo/components/Organisms/YourBondTable.tsx
  frontend/apps/pablo/components/Organisms/bonds/BondedOfferRow.tsx
  frontend/apps/pablo/components/Organisms/bonds/ClaimForm.tsx
  frontend/apps/pablo/defi/hooks/bonds/useBondOffer.ts
  frontend/apps/pablo/defi/hooks/bonds/useVestingSchedule.ts
  frontend/apps/pablo/defi/hooks/index.ts
  frontend/apps/pablo/defi/hooks/vesting/index.ts
  frontend/apps/pablo/defi/hooks/vesting/useVestingClaim.ts
  frontend/apps/pablo/defi/subsquid/bonds/helpers.ts
  frontend/apps/pablo/defi/subsquid/bonds/queries.ts
  frontend/apps/pablo/defi/types/vesting/index.ts
  frontend/apps/pablo/defi/utils/bonds/index.ts
  frontend/apps/pablo/defi/utils/bonds/vestingSchedule.ts
  frontend/apps/pablo/defi/utils/vesting/decode.ts
  frontend/apps/pablo/pages/bond/select/[offerId].tsx
  frontend/apps/pablo/store/bonds/bonds.slice.ts
  frontend/apps/pablo/store/bonds/bonds.types.ts
  frontend/apps/pablo/store/bonds/bonds.utils.ts
Owners: @ComposableFi/blockchain-integrations, @ComposableFi/parachain-finance, @ComposableFi/developers, @ComposableFi/sre, @ComposableFi/testers

Move prettier check to nix
  .github/workflows/build-test-deploy.yml
  .github/workflows/check.yml
  flake.nix
  scripts/style.sh
Owners: @ComposableFi/sre, @dzmitry-lahoda, @hussein-aitlahcen, @cor, @ComposableFi/developers

test(CH): check for market and vamm changes in integrations
  frame/clearing-house/src/integrations/tests.rs
Owners: @ComposableFi/parachain

chore(vamm): resolve unused variable warning
  frame/vamm/src/lib.rs
Owners: @ComposableFi/parachain

emit event when asset has emit_price_changes flag set to true
  frame/oracle/src/benchmarking.rs
  frame/oracle/src/lib.rs
  frame/oracle/src/tests.rs
Owners: @ComposableFi/parachain-finance

use assert_no_event
  frame/oracle/src/tests.rs
Owners: @ComposableFi/parachain-finance

add process_and_progress_blocks
  frame/oracle/src/tests.rs
Owners: @ComposableFi/parachain-finance

remove unused primitives package
  Cargo.lock
  frame/oracle/Cargo.toml
  frame/oracle/src/lib.rs
Owners: @ComposableFi/core, @ComposableFi/parachain-finance

Picasso-bonding-code-refactors (#1338)
  frontend/apps/picasso/components/Molecules/MyBondingsTable.tsx
  frontend/apps/picasso/components/Organisms/Bond/ClaimForm.tsx
  frontend/apps/picasso/components/Organisms/Bond/DisconnectedBond.tsx
  frontend/apps/picasso/defi/polkadot/hooks/useActiveBonds.ts
  frontend/apps/picasso/pages/bonds/[bond].tsx
  frontend/apps/picasso/pages/bonds/index.tsx
Owners: @ComposableFi/blockchain-integrations, @ComposableFi/parachain-finance

[cu-313atpj] Move fNFT to 0006 RFC (#1461)
  rfcs/0006-financial-nft.md
  rfcs/0006-financial-nft/0006-financial-nft.adoc
  rfcs/0006-financial-nft/adoc-o-md.sh
  rfcs/0006-financial-nft/images/images/coin-voting-fnft.png
  rfcs/0006-financial-nft/images/images/debt-fnft.png
  rfcs/0006-financial-nft/images/images/spec-parts.png
  rfcs/0006-financial-nft/images/images/staking-fnft.png
Owners: @ComposableFi/developers

Update clippy check
  flake.nix
Owners: @dzmitry-lahoda, @hussein-aitlahcen, @cor

draft of junod dameon
  flake.nix
  junod
Owners: @dzmitry-lahoda, @hussein-aitlahcen, @cor, @ComposableFi/core

Update ID
  subsquid/src/vestingProcessor.ts
Owners: @ComposableFi/parachain-finance, @ComposableFi/blockchain-integrations

Updates.
  composablejs/packages/bootstrap_pallets/src/constants/config.json
  frontend/apps/pablo/components/Organisms/YourBondTable.tsx
  frontend/apps/pablo/components/Organisms/bonds/ClaimForm.tsx
  frontend/apps/pablo/defi/hooks/bonds/useBondVestingTime.ts
  frontend/apps/pablo/defi/hooks/bonds/useBondedOfferVestingSchedules.ts
  frontend/apps/pablo/defi/subsquid/bonds/queries.ts
  frontend/apps/pablo/defi/utils/bonds/vestingSchedule.ts
Owners: @ComposableFi/parachain, @ComposableFi/blockchain-integrations, @ComposableFi/parachain-finance, @ComposableFi/developers, @ComposableFi/sre, @ComposableFi/testers

Update udeps check
  flake.nix
Owners: @dzmitry-lahoda, @hussein-aitlahcen, @cor

[cu-2vj4091] More tests
  frame/fnft/src/lib.rs
  frame/fnft/src/test/mock.rs
  frame/fnft/src/test/nonfungibles/mutate.rs
  frame/fnft/src/test/nonfungibles/transfer.rs
Owners: @ComposableFi/parachain

arion only on linux
  flake.nix
Owners: @dzmitry-lahoda, @hussein-aitlahcen, @cor

test(CH): test two traders against real vamm and oracle
  frame/clearing-house/src/integrations/tests.rs
Owners: @ComposableFi/parachain

cli exlorer
  .devcontainer/devcontainer.json
  .nix/gex.nix
  a.jsom
  a.json
  flake.nix
  junod
Owners: @ComposableFi/codespacers, @ComposableFi/parachain-leads, @dzmitry-lahoda, @hussein-aitlahcen, @cor, @ComposableFi/core

Bonded Finance Purchase Bond, see open bond positions and claim rewards.
  frontend/apps/pablo/components/Organisms/AllBondTable.tsx
  frontend/apps/pablo/components/Organisms/YourBondTable.tsx
  frontend/apps/pablo/components/Organisms/bonds/BondOfferRow.tsx
  frontend/apps/pablo/components/Organisms/bonds/BondedOfferRow.tsx
  frontend/apps/pablo/components/Organisms/bonds/ClaimForm.tsx
  frontend/apps/pablo/defi/hooks/bonds/index.ts
  frontend/apps/pablo/defi/hooks/bonds/useBondOffer.ts
  frontend/apps/pablo/defi/hooks/bonds/useBondOfferROI.ts
  frontend/apps/pablo/defi/hooks/bonds/useBondPrice.ts
  frontend/apps/pablo/defi/hooks/bonds/useBondVestingTime.ts
  frontend/apps/pablo/defi/hooks/bonds/useTotalPurchased.ts
  frontend/apps/pablo/defi/subsquid/bonds/helpers.ts
  frontend/apps/pablo/defi/utils/bonds/fetchClaimable.ts
  frontend/apps/pablo/defi/utils/bonds/fetchTotalPurchased.ts
  frontend/apps/pablo/defi/utils/bonds/index.ts
  frontend/apps/pablo/defi/utils/bonds/vestingSchedule.ts
  frontend/apps/pablo/defi/utils/bonds/vestingTime.ts
  frontend/apps/pablo/defi/utils/vesting/fetchVestingSchedule.ts
  frontend/apps/pablo/store/bond/bond.slice.ts
  frontend/apps/pablo/store/bonds/bonds.slice.ts
  frontend/apps/pablo/store/bonds/bonds.types.ts
  frontend/apps/pablo/store/bonds/bonds.utils.ts
  frontend/apps/pablo/store/useStore.ts
  frontend/apps/pablo/updaters/bonds/Updater.tsx
Owners: @ComposableFi/blockchain-integrations, @ComposableFi/parachain-finance, @ComposableFi/developers, @ComposableFi/sre, @ComposableFi/testers

more cosmos
  .nix/composable-bin.nix
  .nix/override-input/flake-utils/flake.nix
  flake.nix
  xcvm/cosmos/README.md
  xcvm/cosmos/gex.nix
  xcvm/cosmos/junod.nix
  xcvm/cosmos/wasmswap.nix
Owners: @dzmitry-lahoda, @hussein-aitlahcen, @cor, @ComposableFi/technical-writing-reviewers, @ComposableFi/core, @ComposableFi/developers

arion does not work on darwin
  .nix/acala-bin.nix
  a.jsom
  a.json
  flake.nix
  junod
  xcvm/cosmos/wasmswap.nix
Owners: @dzmitry-lahoda, @hussein-aitlahcen, @cor, @ComposableFi/core, @ComposableFi/developers

Update runtime primitives
  runtime/primitives/src/currency.rs
Owners: @ComposableFi/parachain-leads

refactor(vamm): Use `rstest` in `swap_simulation`
  frame/vamm/src/tests/swap_simulation.rs
Owners: @ComposableFi/parachain

refactor(vamm): Use `rstest` in `swap`
  frame/vamm/src/tests/swap.rs
Owners: @ComposableFi/parachain

Update pallet-oracle deps
  frame/oracle/Cargo.toml
Owners: @ComposableFi/parachain-finance

xcvm junod cosmos node, some tooling and contractrs (#1476)
  .devcontainer/devcontainer.json
  .nix/acala-bin.nix
  .nix/composable-bin.nix
  .nix/override-input/flake-utils/flake.nix
  flake.nix
  xcvm/cosmos/README.md
  xcvm/cosmos/gex.nix
  xcvm/cosmos/junod.nix
  xcvm/cosmos/wasmswap.nix
Owners: @ComposableFi/codespacers, @ComposableFi/parachain-leads, @dzmitry-lahoda, @hussein-aitlahcen, @cor, @ComposableFi/technical-writing-reviewers, @ComposableFi/core, @ComposableFi/developers

Update runtime primitives
  runtime/primitives/src/currency.rs
Owners: @ComposableFi/parachain-leads

add bounds for schedule and whitelist inputs
  frame/composable-traits/src/undercollateralized_loans/mod.rs
  frame/undercollateralized-loans/src/helpers/general.rs
  frame/undercollateralized-loans/src/impls/undercollateralized_loans.rs
  frame/undercollateralized-loans/src/lib.rs
  frame/undercollateralized-loans/src/mocks.rs
  frame/undercollateralized-loans/src/validation.rs
Owners: @ComposableFi/parachain-finance, @ComposableFi/parachain

Update README.md (#12)
  README.md
Owners: @ComposableFi/technical-writing-reviewers, @ComposableFi/core

Review comments
  frame/fnft/src/test/nonfungibles/inspect.rs
  frame/fnft/src/test/nonfungibles/mutate.rs
  frame/fnft/src/test/nonfungibles/transfer.rs
Owners: @ComposableFi/parachain

style
  frame/fnft/src/test/nonfungibles/inspect.rs
  frame/fnft/src/test/nonfungibles/mutate.rs
  frame/fnft/src/test/nonfungibles/transfer.rs
Owners: @ComposableFi/parachain

Review comments
  frame/fnft/src/test/mod.rs
Owners: @ComposableFi/parachain

test(CH): prioritize system hooks correctly
  frame/clearing-house/src/integrations/tests.rs
Owners: @ComposableFi/parachain
