Repository ComposableFi/composable, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ComposableFi/core, @ComposableFi/sre, @ComposableFi/parachain-leads, @ComposableFi/parachain, @ComposableFi/parachain-finance, @ComposableFi/parachain-rpc, @ComposableFi/technical-writing-reviewers, @ComposableFi/ui, @ComposableFi/blockchain-integrations, @ComposableFi/testers

Refactor Prices and ROI calculator
  frontend/ui-picasso/app/components/Molecules/AllBondsTable.tsx
  frontend/ui-picasso/app/components/Molecules/MyBondingsTable.tsx
  frontend/ui-picasso/app/components/Organisms/Bond/BondForm.tsx
  frontend/ui-picasso/app/components/Organisms/Bond/ClaimForm.tsx
  frontend/ui-picasso/app/components/Organisms/Bond/HighlightBoxes.tsx
  frontend/ui-picasso/app/defi/polkadot/hooks/useBlockInterval.ts
  frontend/ui-picasso/app/defi/polkadot/hooks/useBondVestingInDays.ts
  frontend/ui-picasso/app/defi/polkadot/hooks/useOpenPositions.ts
  frontend/ui-picasso/app/defi/polkadot/pallets/BondedFinance.ts
  frontend/ui-picasso/app/defi/polkadot/pallets/Oracle.ts
  frontend/ui-picasso/app/pages/bonds/[bond].tsx
  frontend/ui-picasso/app/pages/bonds/index.tsx
  frontend/ui-picasso/app/stores/defi/polkadot/bonds/useBalanceForOffer.ts
  frontend/ui-picasso/app/stores/defi/polkadot/bonds/useClaim.tsx
  frontend/ui-picasso/app/utils/formatters.ts
  frontend/ui-picasso/app/utils/hexStrings.ts
Owners: @ComposableFi/ui, @ComposableFi/blockchain-integrations

add weight calculation for liquidations sell
  frame/liquidations/src/lib.rs
  frame/liquidations/src/weights.rs
Owners: @ComposableFi/parachain

Added Proper snackbar styling
  frontend/ui-picasso/app/components/Organisms/Bond/BondForm.tsx
  frontend/ui-picasso/app/components/Organisms/Bond/ClaimForm.tsx
  frontend/ui-picasso/app/defi/polkadot/hooks/useOpenPositions.ts
  frontend/ui-picasso/app/defi/polkadot/pallets/BondedFinance.ts
Owners: @ComposableFi/ui, @ComposableFi/blockchain-integrations

remove unused import
  frontend/ui-pablo/app/store/addLiquidity/addLiquidity.slice.ts
  frontend/ui-pablo/app/store/assets/assets.types.ts
Owners: @ComposableFi/ui, @ComposableFi/blockchain-integrations

fix build and typeerrors
  frontend/ui-picasso/app/components/Molecules/AllBondsTable.tsx
  frontend/ui-picasso/app/components/Organisms/Bond/ClaimForm.tsx
  frontend/ui-picasso/app/defi/polkadot/pallets/BondedFinance.ts
Owners: @ComposableFi/ui, @ComposableFi/blockchain-integrations

Rename fromPica/toPica utility functions with proper names
  frontend/ui-picasso/app/components/Organisms/Bond/utils.ts
  frontend/ui-picasso/app/defi/polkadot/pallets/Balance.ts
  frontend/ui-picasso/app/defi/polkadot/pallets/BondedFinance.ts
  frontend/ui-picasso/app/defi/polkadot/pallets/Oracle.ts
  frontend/ui-picasso/app/stores/defi/polkadot/bonds/useClaim.tsx
Owners: @ComposableFi/ui, @ComposableFi/blockchain-integrations

fix clippy
  frame/liquidations/src/weights.rs
Owners: @ComposableFi/parachain

test(instrumental-strategy-pablo): add helper for creating of a Pablo's pool
  frame/instrumental-strategy-pablo/src/mock/helpers.rs
  frame/instrumental-strategy-pablo/src/mock/mod.rs
Owners: @ComposableFi/parachain

test(instrumental-strategy-pablo): create a pool for a test
  frame/instrumental-strategy-pablo/src/tests.rs
Owners: @ComposableFi/parachain

refactor(instrumental-strategy-pablo): add clippy's rules and fix it
  frame/instrumental-strategy-pablo/src/lib.rs
  frame/instrumental-strategy-pablo/src/mock/runtime.rs
Owners: @ComposableFi/parachain

refactor(instrumental-strategy): add clippy's rules and fix it
  frame/instrumental-strategy/src/lib.rs
  frame/instrumental-strategy/src/mock/runtime.rs
Owners: @ComposableFi/parachain

refactor(instrumental): add clippy's rules and fix it
  frame/instrumental/src/lib.rs
  frame/instrumental/src/mock/runtime.rs
  frame/instrumental/src/tests.rs
Owners: @ComposableFi/parachain

fix(instrumental): use `BTreeMap` from `std_sp` crate
  frame/instrumental/src/lib.rs
Owners: @ComposableFi/parachain

refactor(instrumental-strategy-pablo): small refactoring
  frame/instrumental-strategy-pablo/src/lib.rs
Owners: @ComposableFi/parachain

Setup stage environment for devnet
  .github/workflows/devnet-stage-release.yml
  devnet-stage/.gitignore
  devnet-stage/README.md
  devnet-stage/default.nix
  devnet-stage/devnet-gce.nix
  devnet-stage/devnet-stage.json
  devnet-stage/devnet-stage.nix
  devnet-stage/polkadot-launch.patch
  devnet-stage/update.sh
Owners: @ComposableFi/sre, @ComposableFi/core

dali-stage CI
  .github/workflows/devnet-stage-release.yml
Owners: @ComposableFi/sre

Add ansible to workflow
  .github/workflows/devnet-stage-release.yml
  .maintain/playbooks/dali-stage-client-upgrade.yml
Owners: @ComposableFi/sre, @ComposableFi/core

dali-stage CI
  .github/workflows/devnet-stage-release.yml
Owners: @ComposableFi/sre

Update workflow file
  .github/workflows/devnet-stage-release.yml
Owners: @ComposableFi/sre

Add ansible to workflow
  .github/workflows/devnet-stage-release.yml
Owners: @ComposableFi/sre

Add ansible to workflow
  .github/workflows/devnet-stage-release.yml
Owners: @ComposableFi/sre

refactor(composable-traits/instrumental): small refactoring
  frame/composable-traits/src/instrumental.rs
Owners: @ComposableFi/parachain-finance

Add ansible to workflow
  .github/workflows/devnet-stage-release.yml
Owners: @ComposableFi/sre

Update run_benchmarks.sh
  scripts/run_benchmarks.sh
Owners: @ComposableFi/core

feat(instrumental-strategy-rebalance): add extrinsic
  frame/composable-traits/src/instrumental.rs
  frame/instrumental-strategy-pablo/src/lib.rs
  frame/instrumental-strategy-pablo/src/weights.rs
Owners: @ComposableFi/parachain-finance, @ComposableFi/parachain

feat(instrumental-strategy-rebalance): add 'liquidity_rebalance' extrinsic
  frame/instrumental-strategy-pablo/src/lib.rs
Owners: @ComposableFi/parachain

Add ansible to workflow
  .github/workflows/devnet-stage-release.yml
Owners: @ComposableFi/sre

Bond refactorings.
  frontend/ui-pablo/app/defi/utils/pablo/pools/fetchPools.ts
  frontend/ui-pablo/app/updaters/bonds/Updater.tsx
  frontend/ui-pablo/app/updaters/bonds/decodeBondOffer.ts
  frontend/ui-pablo/app/updaters/bonds/decodeVestingSchedule.ts
Owners: @ComposableFi/ui, @ComposableFi/blockchain-integrations

chore(CH): add index-mark spread controls to open_position
  frame/clearing-house/src/lib.rs
Owners: @ComposableFi/parachain

test(instrumental-strategy-pablo): use `ConstantProduct` instead `StableSwap` for default pool
  frame/instrumental-strategy-pablo/src/mock/helpers.rs
Owners: @ComposableFi/parachain

test(instrumental-strategy-pablo): implement AccountId helper
  Cargo.lock
  frame/instrumental-strategy-pablo/Cargo.toml
  frame/instrumental-strategy-pablo/src/mock/account_id.rs
  frame/instrumental-strategy-pablo/src/mock/helpers.rs
  frame/instrumental-strategy-pablo/src/mock/mod.rs
  frame/instrumental-strategy-pablo/src/mock/runtime.rs
Owners: @ComposableFi/core, @ComposableFi/parachain

test(instrumental-strategy-pablo): add amounts to the pool
  frame/instrumental-strategy-pablo/src/mock/helpers.rs
Owners: @ComposableFi/parachain

refactor(instrumental-strategy-pablo): allow `indexing_slicing` in tests
  frame/instrumental-strategy-pablo/src/lib.rs
Owners: @ComposableFi/parachain

test(instrumental): remove allowing of dead code for proptest's helper function
  frame/instrumental/src/mock/account_id.rs
Owners: @ComposableFi/parachain

Dali stage (#1194)
  .github/workflows/devnet-stage-release.yml
  .maintain/playbooks/dali-stage-client-upgrade.yml
  devnet-stage/.gitignore
  devnet-stage/README.md
  devnet-stage/default.nix
  devnet-stage/devnet-gce.nix
  devnet-stage/devnet-stage.json
  devnet-stage/devnet-stage.nix
  devnet-stage/polkadot-launch.patch
  devnet-stage/update.sh
Owners: @ComposableFi/sre, @ComposableFi/core

chore(instrumental-strategy-pablo): add 'PoolSettedToAsset' Event
  frame/instrumental-strategy-pablo/src/lib.rs
Owners: @ComposableFi/parachain

chore(instrumental-strategy-pablo): add 'PoolSettedToAsset' Event
  frame/instrumental-strategy-pablo/src/lib.rs
Owners: @ComposableFi/parachain

refactor(composable-traits/instrumental): refactor 'Transferring' spelling
  frame/composable-traits/src/instrumental.rs
Owners: @ComposableFi/parachain-finance

Rpc method for fetching newly created ClientIds (#1179)
  Cargo.lock
  frame/ibc/ibc-rpc/Cargo.toml
  frame/ibc/ibc-rpc/src/lib.rs
  frame/ibc/ibc-runtime-api/Cargo.toml
  frame/ibc/ibc-runtime-api/src/lib.rs
  frame/ibc/src/benchmarks/benchmarking.rs
  frame/ibc/src/lib.rs
  frame/ibc/src/mock.rs
  frame/ibc/src/tests.rs
  frame/ibc/src/weight.rs
  runtime/dali/src/lib.rs
  runtime/dali/src/weights/pallet_ibc.rs
Owners: @ComposableFi/core, @ComposableFi/parachain, @ComposableFi/parachain-leads

[WIP] UI component integrations with Bond offers. Remove didds storage, plug in hooks.
  frontend/ui-pablo/app/components/Organisms/AllBondTable.tsx
  frontend/ui-pablo/app/components/Organisms/YourBondTable.tsx
  frontend/ui-pablo/app/components/Organisms/bonds/BuyButtons/index.tsx
  frontend/ui-pablo/app/components/Organisms/bonds/ClaimForm.tsx
  frontend/ui-pablo/app/components/Organisms/bonds/DepositForm.tsx
  frontend/ui-pablo/app/components/Organisms/bonds/PageTitle.tsx
  frontend/ui-pablo/app/components/Organisms/bonds/PreviewPurchaseModal.tsx
  frontend/ui-pablo/app/components/Organisms/bonds/SupplySummary.tsx
  frontend/ui-pablo/app/defi/config.ts
  frontend/ui-pablo/app/defi/config/index.ts
  frontend/ui-pablo/app/defi/hooks/bonds/useBondOffer.ts
  frontend/ui-pablo/app/defi/hooks/bonds/useBondOffers.ts
  frontend/ui-pablo/app/defi/types/auctions/index.ts
  frontend/ui-pablo/app/defi/types/bonds/index.ts
  frontend/ui-pablo/app/defi/types/index.ts
  frontend/ui-pablo/app/defi/types/vesting/index.ts
  frontend/ui-pablo/app/defi/utils/bonds/decode.ts
  frontend/ui-pablo/app/defi/utils/bonds/fetchBondOffers.ts
  frontend/ui-pablo/app/defi/utils/bonds/fetchClaimable.ts
  frontend/ui-pablo/app/defi/utils/bonds/fetchVestingPeriod.ts
  frontend/ui-pablo/app/defi/utils/bonds/fetchVestingTime.ts
  frontend/ui-pablo/app/defi/utils/bonds/index.ts
  frontend/ui-pablo/app/defi/utils/index.ts
  frontend/ui-pablo/app/defi/utils/pablo/auctions/subsquidHelpers.ts
  frontend/ui-pablo/app/defi/utils/vesting/decode.ts
  frontend/ui-pablo/app/defi/utils/vesting/fetchVestingSchedule.ts
  frontend/ui-pablo/app/defi/utils/vesting/index.ts
  frontend/ui-pablo/app/pages/bond/select/[offerId].tsx
  frontend/ui-pablo/app/store/bonds/bonds.reducers.ts
  frontend/ui-pablo/app/store/bonds/bonds.slice.ts
  frontend/ui-pablo/app/store/bonds/bonds.types.ts
  frontend/ui-pablo/app/store/hooks/bond/useDepositSummary.ts
  frontend/ui-pablo/app/store/hooks/bond/useSupplySummary.ts
  frontend/ui-pablo/app/store/hooks/useAuctionsChart.ts
  frontend/ui-pablo/app/updaters/bonds/Updater.tsx
  frontend/ui-pablo/app/updaters/bonds/decodeBondOffer.ts
  frontend/ui-pablo/storybook/stories/organisms/bond_buy_token_buttons.stories.tsx
  frontend/ui-pablo/storybook/stories/organisms/bond_claim_form.stories.tsx
  frontend/ui-pablo/storybook/stories/organisms/bond_deposit_form.stories.tsx
Owners: @ComposableFi/ui, @ComposableFi/blockchain-integrations

.github/CODEOWNERS:

# Note, this file is sorted by precedence. Later patterns take precedence over earlier ones.

# Default reviewers. For anything not owned by a specific team, a core member needs to review or delegate.
* @ComposableFi/core

# CI and deployment related files
.github/ @ComposableFi/sre
.github/CODEOWNERS @ComposableFi/core
docker/ @ComposableFi/sre
Makefile @ComposableFi/sre

# Parachain related files
runtime/ @ComposableFi/parachain-leads
node/ @ComposableFi/parachain-leads
frame/ @ComposableFi/parachain
integration-tests/ @ComposableFi/parachain

frame/composable-traits/ @ComposableFi/parachain-finance
frame/*/rpc/ @ComposableFi/parachain-rpc
frame/*/runtime-api @ComposableFi/parachain-rpc

# Gitbook
book/ @ComposableFi/technical-writing-reviewers

# Frontend and Blockchain Integration 
frontend/ @ComposableFi/ui @ComposableFi/blockchain-integrations

# Runtime Integration Tests
integration-tests/runtime-tests/ @ComposableFi/testers

# Oracle Setup Script
scripts/oracle-setup @ComposableFi/parachain
