Repository ComposableFi/composable, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ComposableFi/core, @ComposableFi/sre, @ComposableFi/parachain-leads, @ComposableFi/parachain, @ComposableFi/parachain-finance, @ComposableFi/parachain-rpc, @ComposableFi/technical-writing-reviewers, @ComposableFi/ui, @ComposableFi/blockchain-integrations, @ComposableFi/testers

.github/CODEOWNERS:

# Note, this file is sorted by precedence. Later patterns take precedence over earlier ones.

# Default reviewers. For anything not owned by a specific team, a core member needs to review or delegate.
* @ComposableFi/core

# CI and deployment related files
.github/ @ComposableFi/sre
.github/CODEOWNERS @ComposableFi/core
docker/ @ComposableFi/sre
Makefile @ComposableFi/sre

# Parachain related files
runtime/ @ComposableFi/parachain-leads
node/ @ComposableFi/parachain-leads
frame/ @ComposableFi/parachain
integration-tests/ @ComposableFi/parachain

frame/composable-traits/ @ComposableFi/parachain-finance
frame/*/rpc/ @ComposableFi/parachain-rpc
frame/*/runtime-api @ComposableFi/parachain-rpc

# Gitbook
book/ @ComposableFi/technical-writing-reviewers

# Frontend and Blockchain Integration 
frontend/ @ComposableFi/ui @ComposableFi/blockchain-integrations

# Runtime Integration Tests
integration-tests/runtime-tests/ @ComposableFi/testers

# Oracle Setup Script
scripts/oracle-setup @ComposableFi/parachain

Update mdbook makefile commands
  Makefile
Owners: @ComposableFi/sre

Update generated extrinsics documentation
  book/src/pallets/assets-registry/extrinsics.md
  book/src/pallets/assets/extrinsics.md
  book/src/pallets/bonded-finance/extrinsics.md
  book/src/pallets/crowdloan-rewards/extrinsics.md
  book/src/pallets/currency-factory/extrinsics.md
  book/src/pallets/democracy/extrinsics.md
  book/src/pallets/dex-router/extrinsics.md
  book/src/pallets/dutch-auction/extrinsics.md
  book/src/pallets/governance-registry/extrinsics.md
  book/src/pallets/lending/extrinsics.md
  book/src/pallets/mosaic/extrinsics.md
  book/src/pallets/oracle/extrinsics.md
  book/src/pallets/pablo/extrinsics.md
  book/src/pallets/ping/extrinsics.md
  book/src/pallets/vault/extrinsics.md
  book/src/pallets/vesting/extrinsics.md
Owners: @ComposableFi/technical-writing-reviewers

make rustfmt work cross-platform
  .devcontainer/Dockerfile
Owners: @ComposableFi/core

fix docker-in-docker on arm
  .devcontainer/devcontainer.json
Owners: @ComposableFi/core

maybe fix cross-platform sandbox builds
  docker/composable-sandbox.dockerfile
Owners: @ComposableFi/sre

revert to simgle platform build
  .github/workflows/composable-sandbox.yml
  .github/workflows/docker-release.yml
  Makefile
Owners: @ComposableFi/sre

revert node config for sandbox docker file
  docker/composable-sandbox.dockerfile
Owners: @ComposableFi/sre

using polkadot compatible with demo
  docker/composable-sandbox.dockerfile
Owners: @ComposableFi/sre

split run
  docker/composable-sandbox.dockerfile
Owners: @ComposableFi/sre

adding new name for image to avoid overwrite
  .github/workflows/composable-sandbox.yml
  Makefile
Owners: @ComposableFi/sre

allow run
  docker/composable-sandbox.dockerfile
Owners: @ComposableFi/sre

test(CH): expect TWAP updates in update_funding
  frame/clearing-house/src/tests/update_funding.rs
Owners: @ComposableFi/parachain

test(CH): adapt to new TWAP update rules
  frame/clearing-house/src/tests/close_position.rs
  frame/clearing-house/src/tests/liquidate.rs
  frame/clearing-house/src/tests/mod.rs
  frame/clearing-house/src/tests/update_funding.rs
Owners: @ComposableFi/parachain

test(CH): mock vamm update_twap
  frame/clearing-house/src/mock/vamm.rs
Owners: @ComposableFi/parachain

chore(CH): add TODO to open_position
  frame/clearing-house/src/lib.rs
Owners: @ComposableFi/parachain

chore(CH): update TWAPs before funding rate update
  frame/clearing-house/src/lib.rs
Owners: @ComposableFi/parachain

fix(CH): set TWAP to current price if needed
  frame/clearing-house/src/lib.rs
Owners: @ComposableFi/parachain

fix(CH): use proper upper bound when clipping oracle
  frame/clearing-house/src/lib.rs
Owners: @ComposableFi/parachain

fix(CH): clip oracle to with 33pct of last TWAP
  frame/clearing-house/src/lib.rs
Owners: @ComposableFi/parachain

test(CH): add TODO to liquidate
  frame/clearing-house/src/tests/liquidate.rs
Owners: @ComposableFi/parachain

refactor(CH): group helpers by main functionality
  frame/clearing-house/src/lib.rs
Owners: @ComposableFi/parachain

test(CH): fix typo in comment
  frame/clearing-house/src/tests/liquidate.rs
Owners: @ComposableFi/parachain

test(CH): remove unused import
  frame/clearing-house/src/tests/liquidate.rs
Owners: @ComposableFi/parachain

test(CH): try liquidate with unrealized funding
  frame/clearing-house/src/tests/liquidate.rs
Owners: @ComposableFi/parachain

Swaps Update.
  frontend/ui-pablo/app/components/Organisms/swap/SwapForm.tsx
  frontend/ui-pablo/app/defi/hooks/swaps/usePabloSwap.ts
  frontend/ui-pablo/app/defi/hooks/swaps/useSwaps.ts
  frontend/ui-pablo/app/store/swaps/swaps.slice.ts
  frontend/ui-pablo/app/store/swaps/swaps.types.ts
  frontend/ui-pablo/app/store/swaps/swaps.utils.ts
Owners: @ComposableFi/ui, @ComposableFi/blockchain-integrations

Modal pop up fix.
  frontend/ui-pablo/app/components/Organisms/swap/PreviewModal.tsx
  frontend/ui-pablo/app/components/Organisms/swap/SwapForm.tsx
  frontend/ui-pablo/app/defi/hooks/swaps/usePabloSwap.ts
Owners: @ComposableFi/ui, @ComposableFi/blockchain-integrations

Fix stats field.
  frontend/ui-pablo/app/defi/utils/pablo/pools/stats.ts
Owners: @ComposableFi/ui, @ComposableFi/blockchain-integrations

xcvm image (#1210)
  .github/workflows/composable-sandbox.yml
  Makefile
  docker/composable-sandbox.dockerfile
Owners: @ComposableFi/sre

chore(CH): add update_funding price spread guards
  frame/clearing-house/src/lib.rs
  frame/clearing-house/src/mock/runtime.rs
  frame/clearing-house/src/mock/vamm.rs
  frame/clearing-house/src/tests/mod.rs
  frame/clearing-house/src/tests/update_funding.rs
Owners: @ComposableFi/parachain

test(CH): fix inconsistency with comments
  frame/clearing-house/src/tests/liquidate.rs
Owners: @ComposableFi/parachain

Revert "refactor(CH): group helpers by main functionality"
  frame/clearing-house/src/lib.rs
Owners: @ComposableFi/parachain

refactor(composable-tests-helpers): Fix panic bug
  frame/composable-tests-helpers/src/test/helper.rs
Owners: @ComposableFi/parachain

refactor(vamm): Compute twaps as reciprocals
  frame/vamm/src/lib.rs
Owners: @ComposableFi/parachain

test(vamm): Add test checking twaps are reciprocal
  frame/vamm/src/tests/mod.rs
  frame/vamm/src/tests/update_twap.rs
Owners: @ComposableFi/parachain

chore(vamm): Move dependency in Cargo.toml
  frame/vamm/Cargo.toml
Owners: @ComposableFi/parachain

Fix Firefox issue with background blur.
  frontend/ui-picasso/app/styles/theme.ts
Owners: @ComposableFi/ui, @ComposableFi/blockchain-integrations

Change bors timeout to 2 hours
  bors.toml
Owners: @ComposableFi/core
