Repository ComposableFi/composable, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ComposableFi/core, @ComposableFi/developers, @ComposableFi/sre, @ComposableFi/parachain-leads, @ComposableFi/parachain, @ComposableFi/testers, @ComposableFi/parachain-finance, @ComposableFi/parachain-rpc, @ComposableFi/technical-writing-reviewers, @ComposableFi/blockchain-integrations, @ComposableFi/codespacers, @ComposableFi/technical-writers

test(CH): change max duration seconds
  frame/clearing-house/src/tests/close_market.rs
Owners: @ComposableFi/parachain

docs(book/structure): design proposal table of contents (#1314)
  book/src/SUMMARY.md
Owners: @ComposableFi/technical-writing-reviewers

mammalis updates
  frontend/apps/pablo/components/Organisms/AllBondTable.tsx
  frontend/apps/pablo/components/Organisms/bonds/DepositForm.tsx
  frontend/apps/pablo/components/Organisms/bonds/OfferTable/BondOfferRow.tsx
  frontend/apps/pablo/components/Organisms/bonds/OfferTable/BondOfferRowIcon.tsx
  frontend/apps/pablo/components/Organisms/bonds/OfferTable/index.ts
  frontend/apps/pablo/defi/hooks/bonds/useBondOffer.ts
  frontend/apps/pablo/defi/utils/apollo/index.ts
  frontend/apps/pablo/jest.setup.js
  frontend/apps/pablo/store/bonds/bonds.slice.ts
  frontend/apps/pablo/store/bonds/bonds.types.ts
  frontend/apps/pablo/updaters/auctions/subsquid.ts
  frontend/apps/pablo/updaters/liquidity/subsquid.ts
  frontend/apps/pablo/updaters/pools/subsquid.ts
  frontend/apps/pablo/updaters/swaps/subsquid.ts
Owners: @ComposableFi/blockchain-integrations, @ComposableFi/parachain-finance, @ComposableFi/developers, @ComposableFi/sre, @ComposableFi/testers

Some code cleanups and refactors
  frontend/apps/picasso/components/Molecules/MyBondingsTable.tsx
  frontend/apps/picasso/components/Organisms/Bond/ClaimForm.tsx
  frontend/apps/picasso/components/Organisms/Bond/DisconnectedBond.tsx
  frontend/apps/picasso/defi/polkadot/hooks/useActiveBonds.ts
  frontend/apps/picasso/pages/bonds/[bond].tsx
  frontend/apps/picasso/pages/bonds/index.tsx
Owners: @ComposableFi/blockchain-integrations, @ComposableFi/parachain-finance

fix(instrumental): update versions of and
  frame/instrumental-strategy-pablo/Cargo.toml
  frame/instrumental-strategy/Cargo.toml
  frame/instrumental/Cargo.toml
Owners: @ComposableFi/parachain

Include subdirectory and files in caching
  frontend/turbo.json
Owners: @ComposableFi/blockchain-integrations, @ComposableFi/parachain-finance

test(instrumental-strategy-pablo): delete tests and add tests for
  frame/instrumental-strategy-pablo/src/mock/runtime.rs
  frame/instrumental-strategy-pablo/src/tests.rs
Owners: @ComposableFi/parachain

chore(CH): check for market closure in close_position
  frame/clearing-house/src/lib.rs
  frame/clearing-house/src/tests/close_market.rs
  frame/clearing-house/src/types.rs
Owners: @ComposableFi/parachain

[CU-31vkgqv] [CU-33mm732] [CU-33mm7tt] track vesting schedules on subsquid (#1317)
  subsquid/README.md
  subsquid/archive/docker-compose.yml
  subsquid/db/migrations/1657889647593-Init.js
  subsquid/schema.graphql
  subsquid/src/bondedFinanceProcessor.ts
  subsquid/src/model/generated/_schedule.ts
  subsquid/src/model/generated/_scheduleWindow.ts
  subsquid/src/model/generated/bondedFinanceBondOffer.model.ts
  subsquid/src/model/generated/index.ts
  subsquid/src/model/generated/pabloPool.model.ts
  subsquid/src/model/generated/vestingSchedule.model.ts
  subsquid/src/pabloProcessor.ts
  subsquid/src/processor.ts
  subsquid/src/types/events.ts
  subsquid/src/types/v2300.ts
  subsquid/src/vestingProcessor.ts
  subsquid/test/bondedFinanceTest.ts
  subsquid/test/vestingTest.ts
  subsquid/typegen.json
Owners: @ComposableFi/technical-writing-reviewers, @ComposableFi/core, @ComposableFi/parachain-leads, @ComposableFi/parachain-finance

fix(instrumental-strategy): add ValidateCurrencyId to imports
  frame/instrumental-strategy/src/mock/runtime.rs
Owners: @ComposableFi/parachain

test(instrumental-strategy-rebalance): add 'rebalance_emits_event' test with integrationg 'pallete_collective'
  frame/instrumental-strategy-pablo/src/tests.rs
Owners: @ComposableFi/parachain

refactor(vamm): Move helper functions and types to separate modules
  frame/vamm/src/helpers/checks.rs
  frame/vamm/src/helpers/mod.rs
  frame/vamm/src/helpers/types.rs
  frame/vamm/src/helpers/vamm.rs
  frame/vamm/src/lib.rs
  frame/vamm/src/mock.rs
  frame/vamm/src/tests/get_price.rs
  frame/vamm/src/tests/helpers_propcompose.rs
  frame/vamm/src/tests/mod.rs
  frame/vamm/src/tests/update_twap.rs
  frame/vamm/src/types.rs
Owners: @ComposableFi/parachain

saturating mul
  frame/airdrop/src/benchmarking.rs
Owners: @ComposableFi/parachain

Update benchmarks
  frame/staking-rewards/src/benchmarking.rs
  frame/staking-rewards/src/lib.rs
  frame/staking-rewards/src/weights.rs
Owners: @ComposableFi/parachain-finance

Update tests
  frame/staking-rewards/src/lib.rs
  frame/staking-rewards/src/test/mod.rs
  runtime/dali/src/weights/pallet_staking_rewards.rs
Owners: @ComposableFi/parachain-finance, @ComposableFi/parachain-leads

first implementation of update_reward_pool
  frame/composable-traits/src/staking/mod.rs
  frame/staking-rewards/src/lib.rs
  frame/staking-rewards/src/test/mod.rs
  frame/staking-rewards/src/weights.rs
Owners: @ComposableFi/parachain-finance

Include subdirectory and files in caching (#1339)
  frontend/turbo.json
Owners: @ComposableFi/blockchain-integrations, @ComposableFi/parachain-finance

update bootstrap-pallets package name.
  composablejs/packages/bootstrap_pallets/package.json
  composablejs/packages/bootstrap_pallets/src/bootstrap/assets/index.ts
  composablejs/packages/bootstrap_pallets/src/bootstrap/bondedFinance/index.ts
  composablejs/packages/bootstrap_pallets/src/bootstrap/index.ts
  composablejs/packages/bootstrap_pallets/src/bootstrap/pablo/index.ts
  composablejs/packages/bootstrap_pallets/src/helpers/wallets.ts
  composablejs/packages/bootstrap_pallets/src/index.ts
  composablejs/packages/bootstrap_pallets/src/lib/pallets/assets/extrinsics.ts
  composablejs/packages/bootstrap_pallets/src/lib/pallets/bondedFinance/extrinsics.ts
  composablejs/packages/bootstrap_pallets/src/lib/pallets/crowdloanRewards/extrinsics.ts
  composablejs/packages/bootstrap_pallets/src/lib/pallets/mosaic/extrinsics.ts
  composablejs/packages/bootstrap_pallets/src/lib/pallets/pablo/extrinsics.ts
  composablejs/packages/bootstrap_pallets/src/main.ts
  composablejs/packages/bootstrap_pallets/src/utils/bondedFinance.ts
  composablejs/packages/bootstrap_pallets/src/utils/pablo.ts
  composablejs/packages/bootstrap_pallets/tsconfig.json
Owners: @ComposableFi/parachain, @ComposableFi/developers, @ComposableFi/sre, @ComposableFi/testers

refactor(instrumental-strategy-pablo): refactor event check in test
  frame/instrumental-strategy-pablo/src/tests.rs
Owners: @ComposableFi/parachain

main script fix
  composablejs/packages/oracle_setup/package.json
Owners: @ComposableFi/parachain

.github/CODEOWNERS:

# Note, this file is sorted by precedence. Later patterns take precedence over earlier ones

## Default reviewers.

* @ComposableFi/core  # For anything not owned by a specific team, a core member needs to review or delegate

*.nix @ComposableFi/developers # until under specific folder, *.nix stuff is developers' stuff

## CI and deployment related files

.github/ @ComposableFi/sre
.github/CODEOWNERS @ComposableFi/core
docker/ @ComposableFi/sre
Makefile @ComposableFi/sre

## Parachain related files

runtime/ @ComposableFi/parachain-leads
node/ @ComposableFi/parachain-leads
frame/ @ComposableFi/parachain
integration-tests/ @ComposableFi/parachain @ComposableFi/testers

frame/composable-traits/ @ComposableFi/parachain-finance
frame/pablo/ @ComposableFi/parachain-finance
frame/dex-router/ @ComposableFi/parachain-finance
frame/nft/ @ComposableFi/parachain-finance
frame/staking-rewards/ @ComposableFi/parachain-finance
frame/oracle/ @ComposableFi/parachain-finance
subsquid/ @ComposableFi/parachain-finance
frame/*/rpc/ @ComposableFi/parachain-rpc
frame/*/runtime-api @ComposableFi/parachain-rpc

## Public Gitbook

book/ @ComposableFi/technical-writing-reviewers
README.md @ComposableFi/technical-writing-reviewers @ComposableFi/core @ComposableFi/parachain-leads

## Frontend and Blockchain Integration

frontend/ @ComposableFi/blockchain-integrations @ComposableFi/parachain-finance

## Runtime Integration Tests

integration-tests/runtime-tests/ @ComposableFi/testers

## Codespaces

.devcontainer/ @ComposableFi/codespacers @ComposableFi/parachain-leads

# ComposableJS
composablejs/ @ComposableFi/parachain

## Dev stuff

rfcs/ @ComposableFi/developers
docs/ @ComposableFi/developers @ComposableFi/technical-writers
scripts/ @ComposableFi/developers @ComposableFi/sre
utils/ @ComposableFi/developers @ComposableFi/sre @ComposableFi/testers
.config/spellcheck.dic @ComposableFi/developers @ComposableFi/technical-writers
