Repository ComposableFi/composable, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ComposableFi/core, @ComposableFi/developers, @ComposableFi/sre, @ComposableFi/parachain-leads, @ComposableFi/parachain, @ComposableFi/testers, @ComposableFi/parachain-finance, @ComposableFi/blockchain-integrations, @ComposableFi/parachain-rpc, @ComposableFi/technical-writing-reviewers, @ComposableFi/codespacers, @dzmitry-lahoda, @hussein-aitlahcen, @cor, @ComposableFi/technical-writers, @ComposableFi/security

Update docs/byog.md
  docs/byog.md
Owners: @ComposableFi/developers, @ComposableFi/technical-writers

Update docs/byog.md
  docs/byog.md
Owners: @ComposableFi/developers, @ComposableFi/technical-writers

Update docs/byog.md
  docs/byog.md
Owners: @ComposableFi/developers, @ComposableFi/technical-writers

Update docs/byog.md
  docs/byog.md
Owners: @ComposableFi/developers, @ComposableFi/technical-writers

Update docs/byog.md
  docs/byog.md
Owners: @ComposableFi/developers, @ComposableFi/technical-writers

feat(cosmwasm): charge gas in `db_next`
  frame/cosmwasm/src/lib.rs
Owners: @ComposableFi/parachain

test(CH): ensure update_funding updates oracle TWAP
  frame/clearing-house/src/integrations/tests.rs
Owners: @ComposableFi/parachain

works. added LoanInfo
  frame/composable-traits/src/undercollateralized_loans/configs.rs
  frame/composable-traits/src/undercollateralized_loans/mod.rs
  frame/undercollateralized-loans/src/helpers/general.rs
  frame/undercollateralized-loans/src/helpers/getters.rs
  frame/undercollateralized-loans/src/helpers/offchain.rs
  frame/undercollateralized-loans/src/helpers/on_initialize.rs
  frame/undercollateralized-loans/src/impls/undercollateralized_loans.rs
  frame/undercollateralized-loans/src/lib.rs
  frame/undercollateralized-loans/src/mocks.rs
  frame/undercollateralized-loans/src/tests/loan.rs
  frame/undercollateralized-loans/src/tests/mod.rs
  frame/undercollateralized-loans/src/tests/prelude.rs
  frame/undercollateralized-loans/src/types.rs
  frame/undercollateralized-loans/src/validation.rs
Owners: @ComposableFi/parachain-finance, @ComposableFi/parachain

emit PriceChanged event when price changes on Oracle for PICA or PABLO
  frame/oracle/src/benchmarking.rs
  frame/oracle/src/lib.rs
  frame/oracle/src/tests.rs
  integration-tests/runtime-tests/src/types/interfaces/augment-api-consts.ts
  integration-tests/runtime-tests/src/types/interfaces/augment-api-errors.ts
  integration-tests/runtime-tests/src/types/interfaces/augment-api-events.ts
  integration-tests/runtime-tests/src/types/interfaces/augment-api-query.ts
  integration-tests/runtime-tests/src/types/interfaces/augment-api-tx.ts
  integration-tests/runtime-tests/src/types/interfaces/augment-types.ts
  integration-tests/runtime-tests/src/types/interfaces/crowdloanRewards/definitions.ts
  integration-tests/runtime-tests/src/types/interfaces/crowdloanRewards/types.ts
  integration-tests/runtime-tests/test/tests/oracle/HAL01-Tests.ts
  integration-tests/runtime-tests/test/tests/oracle/HAL02-Tests.ts
  integration-tests/runtime-tests/test/tests/oracle/testHandlers/addAssetAndInfoTests.ts
  integration-tests/runtime-tests/test/tests/oracle/txOracleTests.ts
Owners: @ComposableFi/parachain-finance, @ComposableFi/testers

test(CH): remove hardcoded value
  frame/clearing-house/src/integrations/tests.rs
Owners: @ComposableFi/parachain

test(CH): ensure update_funding updates vamm TWAP
  frame/clearing-house/src/integrations/tests.rs
Owners: @ComposableFi/parachain

test(CH): separate tests in modules
  frame/clearing-house/src/integrations/tests.rs
Owners: @ComposableFi/parachain

test(CH): check if vAMM TWAP gets updated in a block
  frame/clearing-house/src/integrations/tests.rs
Owners: @ComposableFi/parachain

unit tests
  Cargo.lock
  frame/ibc/Cargo.toml
  frame/ibc/primitives/Cargo.toml
  frame/ibc/primitives/src/lib.rs
  frame/ibc/primitives/src/runtime_interface.rs
  frame/ibc/src/benchmarks/tendermint_benchmark_utils.rs
  frame/ibc/src/impls.rs
  frame/ibc/src/lib.rs
  frame/ibc/src/mock.rs
  frame/ibc/src/tests.rs
  frame/ibc/transfer/src/lib.rs
  frame/staking-rewards/src/lib.rs
  node/src/service.rs
  runtime/dali/src/lib.rs
  scripts/polkadot-launch/composable.json
Owners: @ComposableFi/core, @ComposableFi/parachain, @ComposableFi/parachain-finance, @ComposableFi/parachain-leads, @ComposableFi/developers, @ComposableFi/sre

test(CH): ensure vAMM TWAP updates upon swap
  frame/clearing-house/src/integrations/tests.rs
Owners: @ComposableFi/parachain

test(CH): ensure update_funding blocks for index-mark divergence
  frame/clearing-house/src/integrations/tests.rs
Owners: @ComposableFi/parachain

unit tests (#1486)
  Cargo.lock
  frame/ibc/Cargo.toml
  frame/ibc/primitives/Cargo.toml
  frame/ibc/primitives/src/lib.rs
  frame/ibc/primitives/src/runtime_interface.rs
  frame/ibc/src/benchmarks/tendermint_benchmark_utils.rs
  frame/ibc/src/impls.rs
  frame/ibc/src/lib.rs
  frame/ibc/src/mock.rs
  frame/ibc/src/tests.rs
  frame/ibc/transfer/src/lib.rs
  frame/staking-rewards/src/lib.rs
  node/src/service.rs
  runtime/dali/src/lib.rs
  scripts/polkadot-launch/composable.json
Owners: @ComposableFi/core, @ComposableFi/parachain, @ComposableFi/parachain-finance, @ComposableFi/parachain-leads, @ComposableFi/developers, @ComposableFi/sre

test(CH): add collateral check in update_funding
  frame/clearing-house/src/tests/update_funding.rs
Owners: @ComposableFi/parachain

test(CH): ensure clearing house receives funding
  frame/clearing-house/src/integrations/tests.rs
Owners: @ComposableFi/parachain

Karel/onboarding (#1304)
  docs/onboarding/README.md
  docs/onboarding/basics/1-consensus-and-blockchain.md
  docs/onboarding/basics/10-ibc.md
  docs/onboarding/basics/11-xcvm.md
  docs/onboarding/basics/12-working-at-composable.md
  docs/onboarding/basics/2-smart-contracts.md
  docs/onboarding/basics/3-bridging-and-crosschain.md
  docs/onboarding/basics/4-digital-assets.md
  docs/onboarding/basics/5-automated-market-makers.md
  docs/onboarding/basics/6-decentralized-lending.md
  docs/onboarding/basics/7-polkadot.md
  docs/onboarding/basics/8-cosmos.md
  docs/onboarding/basics/9-near.md
  docs/onboarding/basics/README.md
  docs/onboarding/basics/references.md
Owners: @ComposableFi/technical-writing-reviewers, @ComposableFi/core, @ComposableFi/developers, @ComposableFi/technical-writers

next up: set up bounded vecs in config
  frame/composable-traits/src/pool.rs
  frame/pool/src/lib.rs
Owners: @ComposableFi/parachain-finance, @ComposableFi/parachain

some cross chain updates
  .nix/acala-bin.nix
  docs/currency.md
  flake.nix
  utils/xcmp/awesome-xcmp.md
Owners: @dzmitry-lahoda, @hussein-aitlahcen, @cor, @ComposableFi/developers, @ComposableFi/technical-writers, @ComposableFi/sre, @ComposableFi/testers

cross chain stuff into cachix
  .github/workflows/build-test-deploy.yml
  flake.nix
Owners: @ComposableFi/sre, @dzmitry-lahoda, @hussein-aitlahcen, @cor

acala fetchgit is not determinisic????
  .nix/acala-bin.nix
Owners: @dzmitry-lahoda, @hussein-aitlahcen, @cor

ci(Mergify): configuration update
  .mergify.yml
Owners: @ComposableFi/core

merge pallet-ibc-transfer into pallet-ibc
  Cargo.lock
  Cargo.toml
  frame/ibc/Cargo.toml
  frame/ibc/src/ics20/context.rs
  frame/ibc/src/ics20/mod.rs
  frame/ibc/src/impls.rs
  frame/ibc/src/lib.rs
  frame/ibc/src/routing.rs
  frame/ibc/src/weight.rs
  frame/ibc/transfer/Cargo.toml
  frame/ibc/transfer/src/benchmarking.rs
  frame/ibc/transfer/src/lib.rs
  frame/ibc/transfer/src/weight.rs
  runtime/dali/Cargo.toml
  runtime/dali/src/lib.rs
  runtime/dali/src/weights/mod.rs
Owners: @ComposableFi/core, @ComposableFi/parachain, @ComposableFi/parachain-leads

pallet_ibc compiles for no_std
  frame/ibc/src/ics20/mod.rs
Owners: @ComposableFi/parachain

feat(cosmwasm): use `CosmwasmVM` for iterator storage
  frame/cosmwasm/src/lib.rs
  frame/cosmwasm/src/runtimes/wasmi.rs
  runtime/dali/src/lib.rs
Owners: @ComposableFi/parachain, @ComposableFi/parachain-leads

add ics20 benchmarks
  frame/ibc/src/benchmarks/benchmarking.rs
Owners: @ComposableFi/parachain

rename log target to pallet_ibc
  frame/ibc/src/ics20/context.rs
  frame/ibc/src/ics20/mod.rs
  frame/ibc/src/impls.rs
  frame/ibc/src/lib.rs
Owners: @ComposableFi/parachain

ci(Mergify): configuration update (#1488)
  .mergify.yml
Owners: @ComposableFi/core

use enum for account id in transfer params
  Cargo.lock
  frame/ibc/Cargo.toml
  frame/ibc/src/lib.rs
  frame/ibc/src/tests.rs
Owners: @ComposableFi/core, @ComposableFi/parachain

minor fix
  frame/ibc/src/lib.rs
Owners: @ComposableFi/parachain

change channel id to u64 in transfer params
  frame/ibc/src/lib.rs
  frame/ibc/src/tests.rs
Owners: @ComposableFi/parachain

.github/CODEOWNERS:

# Note, this file is sorted by precedence. Later patterns take precedence over earlier ones

## Default reviewers.

* @ComposableFi/core  # For anything not owned by a specific team, a core member needs to review or delegate

*.nix @ComposableFi/developers # until under specific folder, *.nix stuff is developers' stuff

## CI and deployment related files

.github/ @ComposableFi/sre
.github/CODEOWNERS @ComposableFi/core
docker/ @ComposableFi/sre
Makefile @ComposableFi/sre

## Parachain related files

runtime/ @ComposableFi/parachain-leads

node/ @ComposableFi/parachain-leads
frame/ @ComposableFi/parachain
integration-tests/ @ComposableFi/parachain @ComposableFi/testers

frame/composable-traits/ @ComposableFi/parachain-finance
frame/pablo/ @ComposableFi/parachain-finance
frame/dex-router/ @ComposableFi/parachain-finance
frame/nft/ @ComposableFi/parachain-finance
frame/staking-rewards/ @ComposableFi/parachain-finance
frame/oracle/ @ComposableFi/parachain-finance
subsquid/ @ComposableFi/parachain-finance @ComposableFi/blockchain-integrations
frame/*/rpc/ @ComposableFi/parachain-rpc
frame/*/runtime-api @ComposableFi/parachain-rpc

## Public Gitbook

book/ @ComposableFi/technical-writing-reviewers
README.md @ComposableFi/technical-writing-reviewers @ComposableFi/core @ComposableFi/parachain-leads

## Frontend and Blockchain Integration
frontend/ @ComposableFi/blockchain-integrations @ComposableFi/parachain-finance
.github/workflows/frontend-pablo-eslint.yml @ComposableFi/sre @ComposableFi/blockchain-integrations
.github/workflows/frontend-pablo-tests.yml  @ComposableFi/sre  @ComposableFi/blockchain-integrations
.github/workflows/frontend-picasso-eslint.yml  @ComposableFi/sre  @ComposableFi/blockchain-integrations
.github/workflows/frontend-picasso-tests.yml  @ComposableFi/sre  @ComposableFi/blockchain-integrations

## Runtime Integration Tests

integration-tests/runtime-tests/ @ComposableFi/testers

## Codespaces

.devcontainer/ @ComposableFi/codespacers @ComposableFi/parachain-leads

## Nix

.nix/ @dzmitry-lahoda @hussein-aitlahcen @cor
flake.nix @dzmitry-lahoda @hussein-aitlahcen @cor

# ComposableJS
composablejs/ @ComposableFi/parachain

## Dev stuff

rfcs/ @ComposableFi/developers
docs/ @ComposableFi/developers @ComposableFi/technical-writers
scripts/ @ComposableFi/developers @ComposableFi/sre
utils/ @ComposableFi/developers @ComposableFi/sre @ComposableFi/testers
.config/spellcheck.dic @ComposableFi/developers @ComposableFi/technical-writers
# Oracle Setup Script
scripts/oracle-setup @ComposableFi/parachain

# Repository 
README.md @ComposableFi/technical-writing-reviewers @ComposableFi/core
SECURITY.md @ComposableFi/security
REVIEWERS.md @ComposableFi/core
ARCHITECTURE.md @ComposableFi/core
LICENSE @ComposableFi/technical-writing-reviewers @ComposableFi/core
