Repository ComposableFi/composable, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ComposableFi/core, @ComposableFi/sre, @ComposableFi/parachain-leads, @ComposableFi/parachain, @ComposableFi/parachain-finance, @ComposableFi/parachain-rpc, @ComposableFi/technical-writing-reviewers, @ComposableFi/ui, @ComposableFi/blockchain-integrations, @ComposableFi/testers

.github/CODEOWNERS:

# Note, this file is sorted by precedence. Later patterns take precedence over earlier ones.

# Default reviewers. For anything not owned by a specific team, a core member needs to review or delegate.
* @ComposableFi/core

# CI and deployment related files
.github/ @ComposableFi/sre
.github/CODEOWNERS @ComposableFi/core
docker/ @ComposableFi/sre
Makefile @ComposableFi/sre

# Parachain related files
runtime/ @ComposableFi/parachain-leads
node/ @ComposableFi/parachain-leads
frame/ @ComposableFi/parachain
integration-tests/ @ComposableFi/parachain

frame/composable-traits/ @ComposableFi/parachain-finance
frame/*/rpc/ @ComposableFi/parachain-rpc
frame/*/runtime-api @ComposableFi/parachain-rpc

# Gitbook
book/ @ComposableFi/technical-writing-reviewers

# Frontend and Blockchain Integration 
frontend/ @ComposableFi/ui @ComposableFi/blockchain-integrations

# Runtime Integration Tests
integration-tests/runtime-tests/ @ComposableFi/testers

# Oracle Setup Script
scripts/oracle-setup @ComposableFi/parachain

ROI added.
  frontend/ui-pablo/app/defi/hooks/bonds/useBondOffers.ts
Owners: @ComposableFi/ui, @ComposableFi/blockchain-integrations

ROI added.
  frontend/ui-pablo/app/defi/hooks/bonds/useBondOffers.ts
Owners: @ComposableFi/ui, @ComposableFi/blockchain-integrations

Removal of summary interfaces.
  frontend/ui-pablo/app/components/Organisms/bonds/DepositForm.tsx
  frontend/ui-pablo/app/components/Organisms/bonds/PreviewPurchaseModal.tsx
  frontend/ui-pablo/app/components/Organisms/bonds/SupplySummary.tsx
  frontend/ui-pablo/app/defi/hooks/bonds/useBondOffer.ts
  frontend/ui-pablo/app/pages/bond/select/[offerId].tsx
  frontend/ui-pablo/storybook/stories/organisms/bond_deposit_form.stories.tsx
Owners: @ComposableFi/ui, @ComposableFi/blockchain-integrations

Fixed basilisk node not copied over into workspace.
  .devcontainer/devcontainer.json
Owners: @ComposableFi/core

style(Polkadot Launcher): Basilisk node now lowercase in repo.
  .devcontainer/Dockerfile
  docker/composable-sandbox.dockerfile
  scripts/polkadot-launch/composable_and_basilisk.json
Owners: @ComposableFi/core, @ComposableFi/sre

fix(Codespace): Fixed Basilisk binary missing.
  .devcontainer/Dockerfile
Owners: @ComposableFi/core

Fixed devcontainer for new basilisk binary path.
  .devcontainer/devcontainer.json
Owners: @ComposableFi/core

Update polkadot launcher README.md
  scripts/polkadot-launch/README.md
Owners: @ComposableFi/core

chore(.config): spellcheck CI dictionary
  .config/cargo_spellcheck.toml
  .config/spellcheck.dic
Owners: @ComposableFi/core

Fix ROI
  frontend/ui-pablo/app/components/Organisms/bonds/SupplySummary.tsx
  frontend/ui-pablo/app/defi/hooks/bonds/useBondOffer.ts
  frontend/ui-pablo/app/defi/hooks/bonds/useBondOffers.ts
  frontend/ui-pablo/app/pages/bond/select/[offerId].tsx
  frontend/ui-pablo/app/updaters/assets/apollo/Updater.tsx
Owners: @ComposableFi/ui, @ComposableFi/blockchain-integrations

small naming fix
  frame/lending/src/helpers.rs
  frame/lending/src/tests/vault.rs
Owners: @ComposableFi/parachain

Enable deposit form.
  frontend/ui-pablo/app/components/Organisms/bonds/DepositForm.tsx
  frontend/ui-pablo/app/components/Organisms/bonds/PreviewPurchaseModal.tsx
  frontend/ui-pablo/app/defi/hooks/bonds/useBondOffer.ts
  frontend/ui-pablo/app/pages/bond/select/[offerId].tsx
Owners: @ComposableFi/ui, @ComposableFi/blockchain-integrations

Fix storybook
  frontend/ui-pablo/storybook/stories/organisms/bond_deposit_form.stories.tsx
Owners: @ComposableFi/ui, @ComposableFi/blockchain-integrations

Deposit form updates.
  frontend/ui-pablo/app/components/Organisms/bonds/DepositForm.tsx
  frontend/ui-pablo/app/components/Organisms/bonds/PreviewPurchaseModal.tsx
  frontend/ui-pablo/app/defi/hooks/bonds/useBondOffer.ts
  frontend/ui-pablo/app/defi/hooks/bonds/useBondOffers.ts
Owners: @ComposableFi/ui, @ComposableFi/blockchain-integrations

Bond offer update directly in zustand.
  frontend/ui-pablo/app/defi/hooks/bonds/useBondOffer.ts
  frontend/ui-pablo/app/store/bonds/bonds.reducers.ts
  frontend/ui-pablo/app/store/bonds/bonds.slice.ts
  frontend/ui-pablo/app/store/bonds/bonds.types.ts
Owners: @ComposableFi/ui, @ComposableFi/blockchain-integrations

minor fix.
  frontend/ui-pablo/app/components/Organisms/liquidity/AddForm/index.tsx
Owners: @ComposableFi/ui, @ComposableFi/blockchain-integrations

chore(instrumental-strategy-pablo): rename 'set_pool_id_for_asset_id' event
  frame/instrumental-strategy-pablo/src/lib.rs
Owners: @ComposableFi/parachain

refactor(vamm): Use math helpers from `labs`
  frame/vamm/src/lib.rs
Owners: @ComposableFi/parachain

style(vamm): Small readability change
  frame/vamm/src/lib.rs
Owners: @ComposableFi/parachain

refactor(vamm): Make `get_price` and `update_twap` transactional functions
  frame/vamm/src/lib.rs
Owners: @ComposableFi/parachain

chore(vamm): Add `composable-maths` to Cargo.toml
  Cargo.lock
  frame/vamm/Cargo.toml
Owners: @ComposableFi/core, @ComposableFi/parachain

style(vamm): Apply `cargo fmt`
  frame/vamm/src/lib.rs
Owners: @ComposableFi/parachain

Pablo swap math tests.
  frontend/ui-pablo/app/defi/utils/pablo/index.ts
  frontend/ui-pablo/app/defi/utils/pablo/math.ts
  frontend/ui-pablo/app/tests/integrations/math.test.tsx
Owners: @ComposableFi/ui, @ComposableFi/blockchain-integrations

Instrumental pallet: implement `set_id_pool_id_for_asset` function + additional stuff (#1187)
  frame/composable-traits/src/instrumental.rs
  frame/instrumental-strategy-pablo/src/lib.rs
  frame/instrumental-strategy-pablo/src/weights.rs
  frame/instrumental-strategy/src/lib.rs
  frame/instrumental-strategy/src/mock/runtime.rs
  frame/instrumental/src/mock/runtime.rs
Owners: @ComposableFi/parachain-finance, @ComposableFi/parachain

Apply suggestions from code review
  docker/composable-sandbox.dockerfile
  scripts/polkadot-launch/README.md
Owners: @ComposableFi/sre, @ComposableFi/core

switch to cspell
  .config/cargo_spellcheck.dic
  .config/cargo_spellcheck.toml
  .config/config
  .config/spellcheck.dic
  book/src/pallets/templates/pallet-integration-guide-template.md
  cspell.yaml
  diener
  docker/docker-compose.yml
  docs/custom-rpcs.md
  docs/glossary.md
  docs/runtime-testing.md
  frame/composable-traits/src/currency.rs
  frame/crowdloan-rewards/src/lib.rs
  frame/vault/INTEGRATION.md
  rfcs/0002-rent-deposit.md
  rfcs/0003-xcmp-picasso-statemine.md
  rfcs/0004-xcmp-picasso-karura.md
  scripts/style.sh
  setup/index.js
  subsquid/FAQ.md
  subsquid/README.md
Owners: @ComposableFi/core, @ComposableFi/technical-writing-reviewers, @ComposableFi/sre, @ComposableFi/parachain-finance, @ComposableFi/parachain

remove bad code
  frame/crowdloan-rewards/src/lib.rs
Owners: @ComposableFi/parachain

test(instrumental-strategy-pablo): use LAYR/CROWD_LOAN pool
  frame/instrumental-strategy-pablo/src/mock/helpers.rs
  frame/instrumental-strategy-pablo/src/tests.rs
Owners: @ComposableFi/parachain

usePurchaseBond
  frontend/ui-pablo/app/components/Organisms/bonds/PreviewPurchaseModal.tsx
  frontend/ui-pablo/app/store/hooks/bond/usePurchaseBond.ts
Owners: @ComposableFi/ui, @ComposableFi/blockchain-integrations

Fix spelling and add valid words to dictionary
  .config/spellcheck.dic
  .gitignore
  audits/README.md
Owners: @ComposableFi/core

remove prop
  frontend/ui-pablo/app/components/Organisms/bonds/DepositForm.tsx
Owners: @ComposableFi/ui, @ComposableFi/blockchain-integrations

Add spellcheck step
  .github/workflows/check.yml
Owners: @ComposableFi/sre

Disable RPC call
  frontend/ui-pablo/app/components/Organisms/liquidity/RemoveForm/index.tsx
Owners: @ComposableFi/ui, @ComposableFi/blockchain-integrations

fix(instrumental-strategy-pablo): create instance of Vault in tests
  Cargo.lock
  frame/instrumental-strategy-pablo/Cargo.toml
  frame/instrumental-strategy-pablo/src/mock/runtime.rs
  frame/instrumental-strategy-pablo/src/tests.rs
Owners: @ComposableFi/core, @ComposableFi/parachain

test(instrumental-strategy-pablo): add helper for creating of a Pablo's pool
  frame/instrumental-strategy-pablo/src/mock/helpers.rs
  frame/instrumental-strategy-pablo/src/mock/mod.rs
Owners: @ComposableFi/parachain

test(instrumental-strategy-pablo): create a pool for a test
  frame/instrumental-strategy-pablo/src/tests.rs
Owners: @ComposableFi/parachain

refactor(instrumental-strategy-pablo): add clippy's rules and fix it
  frame/instrumental-strategy-pablo/src/lib.rs
  frame/instrumental-strategy-pablo/src/mock/runtime.rs
Owners: @ComposableFi/parachain

refactor(instrumental-strategy): add clippy's rules and fix it
  frame/instrumental-strategy/src/lib.rs
  frame/instrumental-strategy/src/mock/runtime.rs
Owners: @ComposableFi/parachain

refactor(instrumental): add clippy's rules and fix it
  frame/instrumental/src/lib.rs
  frame/instrumental/src/mock/runtime.rs
  frame/instrumental/src/tests.rs
Owners: @ComposableFi/parachain

fix(instrumental): use `BTreeMap` from `std_sp` crate
  frame/instrumental/src/lib.rs
Owners: @ComposableFi/parachain
